@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.author-page-main-content {
	margin: 20px 155px;
	display: flex;
	flex-direction: row;
}

.author-page-main-content a {
	padding: 0;
}

.author-page-main-content a:hover {
	background-color: transparent;
}

.author-page-main-content-left-section {
	width: 300px;
	margin-right: 12px;
}

.author-page-main-content-right-section {
	width: 635px;
}

.author-page-photo-and-stats-area .top-section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.author-page-photo-and-stats-area .profile-picture-section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.author-page-photo-and-stats-area .profile-picture-section .author-stats {
	margin-top: 5px;
	display: flex;
	flex-direction: row;
}

.author-page-photo-and-stats-area .profile-picture-section .author-stats span {
	color: rgb(24, 24, 24);
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 11px;
	line-height: 14px;
	padding: 0;
	margin: 0 2px;
}

.author-page-photo-and-stats-area .profile-picture-section .author-stats a,
.author-page-photo-and-stats-area
	.profile-picture-section
	.author-stats
	button {
	color: rgb(0, 99, 93);
	display: inline;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 11px;
	line-height: 14px;
	padding: 0;
}

.author-page-photo-and-stats-area
	.profile-picture-section
	.author-stats
	a:hover,
.author-page-photo-and-stats-area
	.profile-picture-section
	.author-stats
	button:hover {
	background-color: transparent;
	text-decoration: underline;
}

.author-page-photo-and-stats-area .follow-author-button {
	width: 138px;
	height: 30px;
	padding: 8px 12px;
	border-radius: 3px;
	background-color: rgb(244, 241, 234);
	border: 1px solid rgb(214, 208, 196);
	color: rgb(51, 51, 51);
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 14px;
}

.author-page-photo-and-stats-area .follow-button-and-dropdown {
	margin: 40px 0;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.author-page-photo-and-stats-area .follow-author-button:hover {
	background-color: rgb(237, 230, 214);
}

.author-page-photo-and-stats-area .follow-author-dropdown-trigger {
	position: relative;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAICAYAAADJEc7MAAAAAXNSR0IArs4c6QAAAPBJREFUGBljYACChoYGrr6+PiEQGx8AqQGpBalhAhHi4uJTOTk5z0+bNs0CxMcGQHIgNSC1IHnG7u5ubiDYw8jICNL0+9+/f+XZ2dn9yJqnTp1ayMTE1AkUY/3///+JV69eOTOCFKSlpbEaGBh0ADUXQTWs//HjRxKIzcHBMQ9IBYLYQE19Fy5cqJg1a9ZvsEaQIAgAnRMApOYDDRAA0k9BYkAgDdTwAeiShJycnI0QIaBTYQwYPXnyZEUWFpZNQL4OVOzKnz9//HJzc+/D1IBoDI0gQWDIsQED4QqI/fLlSx0g/xeITRQIDQ1lBmFcigEiIFGeIjnB4AAAAABJRU5ErkJggg==');
	width: 14px;
	height: 8px;
	margin-left: 5px;
}

.author-page-photo-and-stats-area .bottom-section {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.author-page-photo-and-stats-area .bottom-section span {
	color: rgb(56, 33, 16);
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 18px;
	display: inline;
	padding: 0;
}

.author-page-year-in-books-section .section-title,
.author-page-followers-section .section-title,
.author-page-bookshelves-section .section-title,
.author-page-friends-section .section-title,
.author-page-author-books-section .section-title {
	display: block;
	width: 100%;
	padding: 2px 0;
	border-bottom: 1px solid rgb(216, 216, 216);
	color: rgb(56, 33, 16);
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 24px;
	font-weight: bold;
}

.author-page-year-in-books-section .section-title:hover,
.author-page-bookshelves-section .section-title:hover {
	background-color: transparent;
	text-decoration: underline;
}

.author-page-year-in-books-section .inner-content {
	margin-top: 10px;
	display: flex;
	flex-direction: row;
}

.author-page-year-in-books-section .inner-content .image-wrapper,
.author-page-year-in-books-section .inner-content .image-wrapper img {
	width: 108px;
	height: 128px;
}

.author-page-year-in-books-section .inner-content .year-in-books-right-section {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 20px;
	margin-left: 5px;
}

.author-page-year-in-books-section
	.inner-content
	.year-in-books-right-section
	span
	b {
	font-weight: bold;
}

.author-page-year-in-books-section
	.inner-content
	.year-in-books-right-section
	span {
	color: rgb(24, 24, 24);
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 18px;
}

.author-page-year-in-books-section
	.inner-content
	.year-in-books-right-section
	a {
	color: rgb(0, 99, 93);
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 18px;
	height: auto;
}

.author-page-year-in-books-section
	.inner-content
	.year-in-books-right-section
	a:hover {
	text-decoration: underline;
}

.author-page-followers-section,
.author-page-bookshelves-section {
	margin-top: 20px;
}

.author-page-followers-section .follower-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-height: 130px;
	overflow: hidden;
}

.author-page-followers-section .follower-list a {
	margin-right: 5px;
	margin-bottom: 10px;
}

.author-page-followers-section .follower-list a,
.author-page-followers-section .follower-list a img {
	width: 25px;
	height: 33px;
}

.author-page-followers-section .no-followers-span {
	margin-top: 10px;
	display: block;
	color: rgb(24, 24, 24);
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 18px;
}

.author-page-bookshelves-section {
	margin-bottom: 20px;
}

.author-page-bookshelves-section .section-title {
	margin-bottom: 10px;
}

.author-page-bookshelves-section .shelf-list {
	display: flex;
	flex-direction: column;
}

.author-page-bookshelves-section a,
.author-page-friends-section .friend-list .friend-card .right-section a {
	display: inline;
	color: rgb(0, 99, 93);
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 18px;
	width: auto;
}

.author-page-bookshelves-section a:hover,
.author-page-friends-section .friend-list .friend-card .right-section a:hover {
	text-decoration: underline;
}

.author-page-friends-section .friend-list {
	margin-top: 10px;
}

.author-page-friends-section .friend-list .friend-card {
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
}

.author-page-friends-section .friend-list .friend-card .right-section {
	margin-left: 10px;
}

.author-page-friends-section .friend-list .friend-card .right-section span {
	color: rgb(24, 24, 24);
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 18px;
}

.author-page-friends-section
	.friend-list
	.friend-card
	.right-section
	.separator {
	color: rgb(153, 153, 153);
	margin: 0 2px;
}

.author-page-friends-section .friend-list .profile-picture-wrapper,
.author-page-friends-section .friend-list .profile-picture-wrapper img {
	width: 50px;
	height: 66px;
}

.author-page-photo-and-stats-area .follow-author-dropdown {
	position: absolute;
	top: 13px;
	left: 0;
	width: 220px;
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(153, 153, 153);
	box-shadow: rgba(46, 41, 41, 0.3) 0px 1px 4px 0px;
}

.author-page-photo-and-stats-area .follow-author-dropdown li {
	padding: 5px 10px;
}

.author-page-photo-and-stats-area .follow-author-dropdown a,
.author-page-photo-and-stats-area .follow-author-dropdown button {
	display: inline;
	color: rgb(24, 24, 24);
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 18px;
	padding: 0;
}

.author-page-photo-and-stats-area .follow-author-dropdown a:hover,
.author-page-photo-and-stats-area .follow-author-dropdown button:hover {
	background-color: transparent;
	text-decoration: underline;
}

.author-page-author-main-info-section .author-name-area {
	padding: 4px 0;
	border-bottom: 1px solid rgb(216, 216, 216);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.author-page-author-main-info-section .author-name-area .author-name {
	color: rgb(51, 51, 51);
	font-family: 'Merriweather', Georgia, 'Times New Roman', serif;
	font-size: 20px;
	font-weight: bold;
	line-height: 26px;
}

.author-page-author-main-info-section .author-name-area .goodreads-seal {
	width: 23px;
	height: 23px;
	background-size: 23px 23px;
	background-image: url('https://s.gr-assets.com/assets/icons/gr-author-badge_23x23.png');
}

.author-page-author-main-info-section .author-name-area .goodreads-seal-area {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.author-page-author-main-info-section
	.author-name-area
	.goodreads-seal-area
	span {
	color: rgb(56, 33, 16);
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 14px;
	font-weight: bold;
	margin-left: 5px;
}

.author-page-author-main-info-section table {
	margin-top: 10px;
	border-collapse: separate;
	border-spacing: 3px;
}

.author-page-author-main-info-section td {
	color: rgb(24, 24, 24);
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 18px;
}

.author-page-author-main-info-section td a {
	color: rgb(0, 99, 93);
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 18px;
	display: inline;
}

.author-page-author-main-info-section td a:hover {
	text-decoration: underline;
}

.author-page-author-main-info-section th {
	display: inline-block;
	text-align: left;
	color: rgb(0, 0, 0);
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: bold;
	margin-right: 45px;
}

.author-page-author-main-info-section tr .birth-info td {
	display: block;
}

.author-page-author-main-info-section .author-description-area {
	margin-top: 20px;
}

.author-page-author-main-info-section .author-description-area.more p {
	max-height: none;
}

.author-page-author-main-info-section .author-description-area p {
	color: rgb(24, 24, 24);
	font-family: 'Merriweather', Georgia, 'Times New Roman', serif;
	font-size: 14px;
	line-height: 21px;
	max-height: 207px;
	overflow: hidden;
}

.author-page-author-main-info-section
	.author-description-area
	.author-description-show-more-button {
	display: inline;
	color: rgb(0, 99, 93);
	font-family: 'Merriweather', Georgia, 'Times New Roman', serif;
	font-size: 14px;
	line-height: 21px;
	padding: 0;
}

.author-page-author-main-info-section
	.author-description-area
	.author-description-show-more-button:hover {
	background-color: transparent;
	text-decoration: underline;
}

.author-page-author-books-section {
	margin-top: 50px;
}

.author-page-author-books-section .author-books-stats {
	margin: 10px 5px;
	color: rgb(24, 24, 24);
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 18px;
}

.author-page-author-books-section .author-books-stats .separator {
	margin: 0 3px;
}

.author-page-author-books-section .author-book-list {
	margin: 0 5px;
}

.author-page-author-books-section .author-book-list .author-book-card {
	padding-bottom: 10px;
	border-bottom: 1px solid rgb(232, 232, 232);
	margin-bottom: 5px;
}

.author-page-author-books-section
	.author-book-list
	.author-book-card
	.left-section {
	margin-right: 5px;
}

.author-page-author-books-section .author-book-list .author-book-card,
.author-page-author-books-section
	.author-book-list
	.author-book-card
	.left-section {
	display: flex;
	flex-direction: row;
}

.author-page-author-books-section
	.author-book-list
	.author-book-card
	.book-cover-wrapper,
.author-page-author-books-section
	.author-book-list
	.author-book-card
	.book-cover-wrapper
	img {
	width: 48px;
	height: 75px;
}

.author-page-author-books-section
	.author-book-list
	.author-book-card
	.book-details-section {
	margin-left: 10px;
}

.author-page-author-books-section
	.author-book-list
	.author-book-card
	.book-details-section
	.book-title-a {
	color: var(--goodreads-black);
	font-family: var(--merriweather-font);
	font-size: 14.4px;
	font-weight: bold;
	line-height: 18px;
	height: auto;
}

.author-page-author-books-section
	.author-book-list
	.author-book-card
	.book-details-section
	.book-title-a:hover,
.author-page-author-books-section
	.author-book-list
	.author-book-card
	.by-author-span
	a:hover {
	text-decoration: underline;
}

.author-page-author-books-section
	.author-book-list
	.author-book-card
	.by-author-span {
	display: inline;
	color: rgb(0, 0, 0);
	font-family: var(--lato-font);
	font-size: 13px;
	line-height: 18px;
}

.author-page-author-books-section
	.author-book-list
	.author-book-card
	.by-author-span
	a {
	display: inline;
	font-family: var(--merriweather-font);
	color: var(--goodreads-black);
	font-size: 12px;
	line-height: 18px;
}

.author-page-author-books-section
	.author-book-list
	.author-book-card
	.book-card-goodreads-member-span {
	color: var(--goodreads-light-gray);
	font-family: var(--lato-font);
	font-size: 12px;
	line-height: 18px;
}

.author-page-author-books-section
	.author-book-list
	.author-book-card
	.author-page-general-rating {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.author-page-author-books-section
	.author-book-list
	.author-book-card
	.author-page-general-rating
	> span {
	margin-left: 2px;
}

.author-page-author-books-section
	.author-book-list
	.author-book-card
	.author-page-general-rating
	span,
.author-page-author-books-section
	.author-book-list
	.author-book-card
	.author-page-general-rating
	a {
	color: var(--goodreads-light-gray);
	font-family: var(--lato-font);
	font-size: 11px;
	line-height: 14px;
	padding: 0;
	display: inline;
}

.author-page-author-books-section
	.author-book-list
	.author-book-card
	.author-page-general-rating
	a:hover {
	text-decoration: underline;
}

.author-page-author-books-section
	.author-book-list
	.author-book-card
	.author-page-general-rating-stars {
	display: flex;
	flex-direction: row;
}

.author-page .interactive-star {
	cursor: pointer;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAQAAACROWYpAAABaUlEQVR4AZ3UtaLUQBgF4MGlxd31JfAH2BfYckvcHSqc6+7ubs31+ipwzgT3BocOm3XfSTY5fzP2xSfCLM/2PtsrnIbXeM05fsRHDqmxGwrK2O0Iy8t+LC87wpzxY844oTuhgsWd9vHFCL5oG2MqjDFlkz7fDhWt59ttYZ6PxTyvuzw3s1iAUlShga3s5gCHMI4vsdjXG+cQB9jNVjSgCqUsYBbc4uNS1kPZL9Z/XCr84Sn+tQX/8lTsp3iIn9Omn41DIj4vN2EyLTz5cpNIzrslqLak1e+WCF1wHH+08A+OW31ZR7T4iLAK9+sw91ti3NZh3LbEfKTDlr+k5xug9PV8gymmJ3axzJW5sX16TDE6Iku/whUYceFrZKzDhKqF+BVaNv58Q8ytjIdGf6mFWmwc8i/hP3lTzYsdV/PkTf7zzxmHtJj3ofiB+1O/f36A4n0tBthtLNde13J2Azq6Rh4TFpHHsCba8wIHb2XVGoaSPQAAAABJRU5ErkJggg==');
	background-repeat: no-repeat;
}

.author-page .interactive-star.small {
	background-size: 15px 15px;
	width: 15px;
	height: 15px;
}

.author-page .interactive-star.big {
	background-size: 30px 30px;
	width: 30px;
	height: 30px;
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxuczpza2V0Y2g9Imh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaC9ucyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBoZWlnaHQ9IjE1cHgiIHdpZHRoPSIxNXB4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgMTUgMTUiPjwhLS0gR2VuZXJhdG9yOiBTa2V0Y2ggMy40LjEgKDE1NjgxKSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4KIDx0aXRsZT5nci1zdGFyLWVtcHR5PC90aXRsZT4KIDxnIGlkPSJBc3NldHMiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc2tldGNoOnR5cGU9Ik1TUGFnZSIgZmlsbD0ibm9uZSI+CiAgPHBvbHlnb24gaWQ9IlN0YXItMTAtQ29weS02IiBza2V0Y2g6dHlwZT0iTVNTaGFwZUdyb3VwIiBwb2ludHM9IjcuNSAxMS42MDkgMi44NjQ3IDE1IDQuNSA5LjMxNjcgNC4zNTY2ZS0xNiA1LjcyOTUgNS42NDU5IDUuNjA4NSA3LjUgMCA5LjM1NDEgNS42MDg1IDE1IDUuNzI5NSAxMC41IDkuMzE2NyAxMi4xMzUgMTUiIGZpbGw9IiNENkQ2RDYiLz4KIDwvZz4KPC9zdmc+Cg==');
}

.author-page .interactive-star.big.on {
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxuczpza2V0Y2g9Imh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaC9ucyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBoZWlnaHQ9IjE1cHgiIHdpZHRoPSIxNXB4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgMTUgMTUiPjwhLS0gR2VuZXJhdG9yOiBTa2V0Y2ggMy40LjEgKDE1NjgxKSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4KIDx0aXRsZT5nci1zdGFyLXlvdXItcmF0aW5nPC90aXRsZT4KIDxnIGlkPSJBc3NldHMiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc2tldGNoOnR5cGU9Ik1TUGFnZSIgZmlsbD0ibm9uZSI+CiAgPHBvbHlnb24gaWQ9IlN0YXItMTAtQ29weS03IiBza2V0Y2g6dHlwZT0iTVNTaGFwZUdyb3VwIiBwb2ludHM9IjcuNSAxMS42MDkgMi44NjQ3IDE1IDQuNSA5LjMxNjcgMS4xNjE4ZS0xNCA1LjcyOTUgNS42NDU5IDUuNjA4NSA3LjUgMCA5LjM1NDEgNS42MDg1IDE1IDUuNzI5NSAxMC41IDkuMzE2NyAxMi4xMzUgMTUiIGZpbGw9IiNGNkE2MjMiLz4KIDwvZz4KPC9zdmc+Cg==');
}

.author-page .interactive-star.on {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAABwElEQVR4Ab2WNbDVQBSGg0uLu+y5wUoqKrxHW0pK3B0q3N11N7hLg9e49A0VLrsXD/lmeK7RnVk95/+/3Mh5z0vafpyRoXSv6FY2spJeONga9YJeKPTHOX+w1Sqksy7wNpeWVYBZF3mbn1WAWRcC/R4M9iugFZ2zIt7mJbXBnOUOtlqe1AZzlu9tPqMEUH2dWG7gciCLGgITi2mmprmgtL2s1V5r5JAzcjzqgTPqfLS/arXcclruOK0eRvv3DYGJkUMuGrR44IUn3jBgwfTCq8M7RgKDuIgOC6ZX0aKDuc6o33kB8YbRwKfij7Va3mUNxRPvxp/5+SH9rJHHWUHxwtNrTgvPjOjgjJxIC8UDLy9uc1pmReJfCYC/0KYrGro0Pi4YTRa1eVRcMJrUYBeodXHBaDL5FycuGE0qqDOqT4qC0Sf5rw3U9IZLn+yiNxRHm+IXy6V6TD8440+syGHNWe08tImg4ZlhbSPx11oF/mF9t5AzYrXAX/GIDaa2VgP+sUatCc9MbdVQPjFyyK3Q4ZGkam36f+Vv4nyX5KJBi0eCz0he88c8vOp3jqtFgxaPeMLzQ3q4oDTTS9nwwKu+2D9N9rM09Bxb/wAAAABJRU5ErkJggg==');
}

.author-page .want-to-read-button-and-options {
	margin-top: 5px;
}

.author-page .book-options-dropdown {
	z-index: 3;
}
