@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.book-page-main-content a {
	display: inline;
	padding: 0;
}

.book-page-main-content a:hover {
	background-color: transparent;
}

.book-page-main-content {
	margin: 15px 155px;
	display: flex;
	flex-direction: row;
}

.book-page-main-content-left {
	width: 70%;
}

.book-page-main-content-right {
	width: 30%;
	padding-left: 15px;
}

.book-page-book-info {
	display: flex;
	flex-direction: row;
}

.book-page-book-info-right {
	margin-left: 20px;
}

.book-page-book-info-cover-wrap {
	position: relative;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 4px -2px;
}

.book-page-book-info-cover-wrap .cover-options {
	position: absolute;
	top: 33%;
	right: calc(50% - 51.24px);
	display: none;
	height: 70px;
	z-index: 1;
}

.book-page-book-info-cover-wrap:hover .cover-options {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: unset;
}

.cover-options .book-other-editions-anchor,
.cover-options .book-page-enlarge-cover,
.cover-options .book-other-editions-anchor:hover {
	display: block;
	color: rgb(255, 255, 255);
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	background-color: rgba(51, 51, 51, 0.7);
	font-size: 13px;
	line-height: 18px;
	height: auto;
	padding: 4px 8px;
	border: 1px solid rgb(24, 24, 24);
	border-radius: 5px;
	font-weight: bold;
}

.book-page-book-info-left .book-page-book-info-cover-wrap,
.book-page-book-info-left .book-page-book-info-cover-wrap img {
	width: 150px;
	height: 226px;
}

.want-to-read-button-and-options {
	margin-top: 20px;
	margin-left: calc(50% - 68.5px);
	display: flex;
	flex-direction: row;
}

.book-page-book-option-dropdown-trigger {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAICAQAAABaf7ccAAAAKUlEQVR4AX3KsQEAIAzDsJzez8MuoF6tdLo1icQdiBvilrglnw1xS9wHeq2Hge3+H0sAAAAASUVORK5CYII=');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 8px 4px;
	height: 28px;
	width: 17px;
	padding: 0 5px;
	border-radius: 0 3px 3px 0;
	background-color: rgb(64, 157, 105);
	position: relative;
}

.book-page-want-to-read-button {
	padding: 6px 8px;
	padding-right: 0;
	background-color: rgb(64, 157, 105);
	color: rgb(255, 255, 255);
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 13px;
	height: 28px;
	width: 110px;
	border-radius: 3px 0 0 3px;
	line-height: normal;
	font-weight: 700;
	text-align: start;
}

.want-to-read-button-and-options .book-on-reading-shelf,
.want-to-read-button-and-options .book-on-read-shelf,
.want-to-read-button-and-options .book-on-to-read-shelf {
	padding-left: 8px;
	padding-right: 0;
	background-color: rgb(242, 242, 242);
	color: rgb(24, 24, 24);
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 13px;
	height: 26px;
	width: 110px;
	border-radius: 3px 0 0 3px;
	line-height: normal;
	font-weight: 700;
	text-align: start;
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
}

.want-to-read-button-and-options .book-on-reading-shelf > span,
.want-to-read-button-and-options .book-on-read-shelf > span,
.want-to-read-button-and-options .book-on-to-read-shelf > span {
	display: inline-block;
	width: 100px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-left: 4px;
}

button.remove-book-from-shelf {
	width: 13px;
	height: 11px;
	padding: 0;
}

button.remove-book-from-shelf.reading {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAALCAYAAACksgdhAAAARklEQVR42pXRywkAIBBDQVuyY4uxrydIwMNiNAs5Dvtrv8XsYwcigDIyIBQDIO8gdJZ8AaG65A04hANlPAMK8r%2FwqB7EoQWlO7lbfdtYaAAAAABJRU5ErkJggg%3D%3D);
}

button.remove-book-from-shelf.to-read {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAALCAYAAACksgdhAAAASElEQVR42pXRywkAIAwDUAf16l6dwvUihYCHQDSFHB%2F9jd9ae1YHQATAVAaIYgAg70B0l3wBIl3SAUWMAzKeAYL8LzzSgzh0AAkVnYbarXBLAAAAAElFTkSuQmCC);
}

button.remove-book-from-shelf.read {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAALCAYAAACksgdhAAAASElEQVR42pXRywkAIAwDUJd1ATdxg24aKQQ8BKIp5Pjob%2FzWXrM6ACIApjJAFAMAeQeiu%2BQLEOmSDihiHJDxDBDkf%2BGRHsShA2nHmi8jtgEiAAAAAElFTkSuQmCC);
}

button.remove-book-from-shelf:hover {
	background-color: transparent;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAALCAYAAACksgdhAAAAUUlEQVR42p2SwQ0AIAgD2X8KB2IEdqnpgxisftqkPqQXIhgAgsrMRYfo1JilefQl6AuUmkADnIBCn0C9gAEpqIBArUeH6rDdyXqTNT17T9aP2HKRaJQdLRvrAAAAAElFTkSuQmCC);
}

.book-page-want-to-read-button:hover {
	background-color: rgb(61, 147, 99);
	color: rgb(255, 255, 255);
}

.book-on-read-shelf,
.book-on-reading-shelf,
.book-on-to-read-shelf {
	border: 1px solid rgb(221, 221, 221);
	border-right: none;
}

.shelf-pop-up-wrapper {
	opacity: 0;
	transition: opacity 0.25s linear;
	position: absolute;
	z-index: 2;
	bottom: 35px;
	left: -40px;
	height: auto;
}

.shelf-pop-up {
	background-color: rgb(255, 255, 255);
	-webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 4px -3px;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 4px -3px;
	border: 1px solid rgb(204, 204, 204);
	color: rgb(24, 24, 24);
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	width: 210px;
	border-radius: 3px;
	padding: 5px;
}

.shelf-pop-up b {
	font-weight: bold;
}

.read.shelf-pop-up {
	width: 140px;
	padding: 5px 15px;
	margin-left: 25px;
}

.read .shelf-pop-up-top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.read .shelf-pop-up-top a {
	padding: 0;
	color: rgb(0, 99, 93);
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: normal;
	height: auto;
}

.read .shelf-pop-up-top a:hover {
	text-decoration: underline;
}

.reading .shelf-pop-up-top {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.reading .shelf-pop-up-top a,
.to-read .shelf-pop-up-bottom a {
	color: rgb(0, 99, 93);
}

.to-read .shelf-pop-up-bottom a {
	padding: 0;
	line-height: normal;
	height: auto;
}

.reading .shelf-pop-up-top a:hover {
	color: rgb(0, 99, 93);
	text-decoration: underline;
}

.reading .shelf-pop-up-top input {
	display: inline;
	background-color: rgb(242, 242, 242);
	width: 26px;
	height: 21px;
	padding: 2px 0;
	border: 1px solid rgb(221, 221, 221);
	border-radius: 2px;
}

.reading .shelf-pop-up-top input.white-background {
	background-color: rgb(255, 255, 255);
}

.shelf-pop-up.to-read .shelf-pop-up-top {
	text-align: center;
}

.to-read button.progress-submit-button {
	font-size: 11px;
	width: 46.7px;
	padding: 4px 12px;
	margin-right: 6px;
}

.reading .shelf-pop-up-bottom {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 90%;
	height: 35px;
}

.to-read .shelf-pop-up-bottom {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 5px;
	width: 90%;
	height: auto;
}

.to-read .shelf-pop-up-bottom .progress-cancel-button {
	padding: 0;
	height: 15px;
	line-height: normal;
}

.shelf-pop-up-bottom.hidden {
	display: none;
}

.shelf-pop-up-bottom > span {
	color: rgb(153, 153, 153);
}

.shelf-pop-up-bottom .progress-submit-button {
	width: 63px;
	height: 22px;
	padding: 4px 12px;
	background-color: rgb(244, 241, 234);
	border: 1px solid rgb(214, 208, 196);
	border-radius: 3px;
	color: rgb(51, 51, 51);
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 12px;
}

.shelf-pop-up-bottom .progress-submit-button:hover {
	background-color: rgb(237, 230, 214);
	color: rgb(51, 51, 51);
}

.shelf-pop-up-to-read-input {
	border: 1px solid rgb(220, 214, 204);
	color: rgb(51, 51, 51);
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 12px;
	height: 15px;
	width: 24px;
	border-radius: 3px;
	padding: 1px;
}

.shelf-pop-up-to-read-input:focus {
	border-color: rgb(185, 173, 153);
}

.shelf-pop-up-bottom .progress-cancel-button,
.shelf-pop-up-bottom .progress-finished-button {
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 80%;
	color: rgb(0, 99, 93);
}

.shelf-pop-up-bottom .progress-cancel-button:hover,
.shelf-pop-up-bottom .progress-finished-button:hover {
	background-color: transparent;
	color: rgb(0, 99, 93);
}

.shelf-pop-up-arrow-grey {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid rgb(204, 204, 204);
	position: absolute;
	bottom: -10px;
	left: 95px;
}

.shelf-pop-up-arrow {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid rgb(255, 255, 255);
	position: absolute;
	bottom: 3px;
	right: -10px;
}

.want-to-read-button-and-options
	.book-on-reading-shelf:hover
	.shelf-pop-up-wrapper,
.want-to-read-button-and-options
	.book-on-read-shelf:hover
	.shelf-pop-up-wrapper,
.want-to-read-button-and-options
	.book-on-to-read-shelf:hover
	.shelf-pop-up-wrapper,
.always-visible,
.shelf-pop-up-wrapper:hover {
	display: block;
	opacity: 1;
}

.book-options-dropdown {
	display: flex;
	flex-direction: column;
	max-height: 0;
	transition: max-height 0.25s linear, border-width 0.25s linear;
	border: 0 solid rgb(204, 204, 204);
	overflow: hidden;
	background-color: rgb(255, 255, 255);
	width: 180px;
	position: absolute;
	top: 100%;
	right: 0%;
	z-index: 1;
	border-radius: 3px;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 4px -3px;
}

.book-options-dropdown .book-options-dropdown-top {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid rgb(241, 241, 241);
	width: 100%;
}

.book-options-dropdown .book-options-dropdown-top button {
	height: 19px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.book-options-dropdown .book-options-dropdown-bottom button {
	padding: 7px 15px;
}

.book-options-dropdown .book-options-dropdown-top button,
.book-options-dropdown .book-options-dropdown-bottom button {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: rgb(24, 24, 24);
	line-height: normal;
	width: 100%;
	text-align: start;
}

.book-options-dropdown .book-options-dropdown-top button:hover,
.book-options-dropdown .book-options-dropdown-bottom button:hover {
	background-color: rgb(241, 241, 241);
}

.book-page-book-option-dropdown-trigger:hover {
	background-color: rgb(61, 147, 99);
}

.book-page-book-option-dropdown-trigger:hover .book-options-dropdown {
	max-height: 160px;
	border: 1px solid rgb(204, 204, 204);
}

.reading .dropdown-currently-reading-button {
	display: none;
}

.read .dropdown-read-button {
	display: none;
}

.to-read .dropdown-want-to-read-button {
	display: none;
}

div.book-page-rate-book {
	margin-top: 3px;
	text-align: center;
}

span.rate-this-book {
	color: rgb(153, 153, 153);
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 11px;
	line-height: 14px;
}

.book-page-rate-book .clear-rating-button {
	display: none;
	padding: 0;
	color: rgb(0, 99, 93);
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 11px;
	line-height: 14px;
}

.book-page-rate-book:hover .clear-rating-button {
	display: inline;
}

.book-page-rate-book:hover .rate-this-book.my-rating {
	display: none;
}

.book-page-rate-book .clear-rating-button:hover {
	background-color: transparent;
}

.book-page-rate-book-star-rating {
	margin-left: calc(50% - 37.5px);
	margin-top: 2px;
	display: flex;
	flex-direction: row;
}

.book-page .interactive-star {
	cursor: pointer;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAQAAACROWYpAAABaUlEQVR4AZ3UtaLUQBgF4MGlxd31JfAH2BfYckvcHSqc6+7ubs31+ipwzgT3BocOm3XfSTY5fzP2xSfCLM/2PtsrnIbXeM05fsRHDqmxGwrK2O0Iy8t+LC87wpzxY844oTuhgsWd9vHFCL5oG2MqjDFlkz7fDhWt59ttYZ6PxTyvuzw3s1iAUlShga3s5gCHMI4vsdjXG+cQB9jNVjSgCqUsYBbc4uNS1kPZL9Z/XCr84Sn+tQX/8lTsp3iIn9Omn41DIj4vN2EyLTz5cpNIzrslqLak1e+WCF1wHH+08A+OW31ZR7T4iLAK9+sw91ti3NZh3LbEfKTDlr+k5xug9PV8gymmJ3axzJW5sX16TDE6Iku/whUYceFrZKzDhKqF+BVaNv58Q8ytjIdGf6mFWmwc8i/hP3lTzYsdV/PkTf7zzxmHtJj3ofiB+1O/f36A4n0tBthtLNde13J2Azq6Rh4TFpHHsCba8wIHb2XVGoaSPQAAAABJRU5ErkJggg==');
	background-repeat: no-repeat;
}

.book-page .interactive-star.small {
	background-size: 15px 15px;
	width: 15px;
	height: 15px;
}

.book-page .interactive-star.big {
	background-size: 30px 30px;
	width: 30px;
	height: 30px;
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxuczpza2V0Y2g9Imh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaC9ucyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBoZWlnaHQ9IjE1cHgiIHdpZHRoPSIxNXB4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgMTUgMTUiPjwhLS0gR2VuZXJhdG9yOiBTa2V0Y2ggMy40LjEgKDE1NjgxKSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4KIDx0aXRsZT5nci1zdGFyLWVtcHR5PC90aXRsZT4KIDxnIGlkPSJBc3NldHMiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc2tldGNoOnR5cGU9Ik1TUGFnZSIgZmlsbD0ibm9uZSI+CiAgPHBvbHlnb24gaWQ9IlN0YXItMTAtQ29weS02IiBza2V0Y2g6dHlwZT0iTVNTaGFwZUdyb3VwIiBwb2ludHM9IjcuNSAxMS42MDkgMi44NjQ3IDE1IDQuNSA5LjMxNjcgNC4zNTY2ZS0xNiA1LjcyOTUgNS42NDU5IDUuNjA4NSA3LjUgMCA5LjM1NDEgNS42MDg1IDE1IDUuNzI5NSAxMC41IDkuMzE2NyAxMi4xMzUgMTUiIGZpbGw9IiNENkQ2RDYiLz4KIDwvZz4KPC9zdmc+Cg==');
}

.book-page .interactive-star.big.on {
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxuczpza2V0Y2g9Imh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaC9ucyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBoZWlnaHQ9IjE1cHgiIHdpZHRoPSIxNXB4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgMTUgMTUiPjwhLS0gR2VuZXJhdG9yOiBTa2V0Y2ggMy40LjEgKDE1NjgxKSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4KIDx0aXRsZT5nci1zdGFyLXlvdXItcmF0aW5nPC90aXRsZT4KIDxnIGlkPSJBc3NldHMiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc2tldGNoOnR5cGU9Ik1TUGFnZSIgZmlsbD0ibm9uZSI+CiAgPHBvbHlnb24gaWQ9IlN0YXItMTAtQ29weS03IiBza2V0Y2g6dHlwZT0iTVNTaGFwZUdyb3VwIiBwb2ludHM9IjcuNSAxMS42MDkgMi44NjQ3IDE1IDQuNSA5LjMxNjcgMS4xNjE4ZS0xNCA1LjcyOTUgNS42NDU5IDUuNjA4NSA3LjUgMCA5LjM1NDEgNS42MDg1IDE1IDUuNzI5NSAxMC41IDkuMzE2NyAxMi4xMzUgMTUiIGZpbGw9IiNGNkE2MjMiLz4KIDwvZz4KPC9zdmc+Cg==');
}

.book-page .interactive-star.on {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAABwElEQVR4Ab2WNbDVQBSGg0uLu+y5wUoqKrxHW0pK3B0q3N11N7hLg9e49A0VLrsXD/lmeK7RnVk95/+/3Mh5z0vafpyRoXSv6FY2spJeONga9YJeKPTHOX+w1Sqksy7wNpeWVYBZF3mbn1WAWRcC/R4M9iugFZ2zIt7mJbXBnOUOtlqe1AZzlu9tPqMEUH2dWG7gciCLGgITi2mmprmgtL2s1V5r5JAzcjzqgTPqfLS/arXcclruOK0eRvv3DYGJkUMuGrR44IUn3jBgwfTCq8M7RgKDuIgOC6ZX0aKDuc6o33kB8YbRwKfij7Va3mUNxRPvxp/5+SH9rJHHWUHxwtNrTgvPjOjgjJxIC8UDLy9uc1pmReJfCYC/0KYrGro0Pi4YTRa1eVRcMJrUYBeodXHBaDL5FycuGE0qqDOqT4qC0Sf5rw3U9IZLn+yiNxRHm+IXy6V6TD8440+syGHNWe08tImg4ZlhbSPx11oF/mF9t5AzYrXAX/GIDaa2VgP+sUatCc9MbdVQPjFyyK3Q4ZGkam36f+Vv4nyX5KJBi0eCz0he88c8vOp3jqtFgxaPeMLzQ3q4oDTTS9nwwKu+2D9N9rM09Bxb/wAAAABJRU5ErkJggg==');
}

.book-page-title-area {
	display: flex;
	flex-direction: column;
}

.book-page-title-area h1 {
	font-family: 'Merriweather', Georgia, serif;
	font-size: 24px;
	font-weight: 900;
	color: rgb(51, 51, 51);
}

a.book-page-book-title-series-a {
	color: rgb(153, 153, 153);
	font-family: 'Merriweather', Georgia, serif;
	font-size: 18px;
	display: block;
	line-height: 24px;
	height: 24px;
	margin-top: 5px;
	font-weight: normal;
}

.book-page-goodreads-author {
	color: rgb(153, 153, 153);
}

.book-page-book-title-series-a:hover {
	color: rgb(153, 153, 153);
	text-decoration: underline;
}

span.book-page-author-name,
.book-page-goodreads-other-author,
span.book-page-author-name a,
.book-page-other-author-name-a {
	color: rgb(51, 51, 51);
	font-family: 'Merriweather', Georgia, serif;
	font-size: 16px;
}

span.book-page-author-name a,
.book-page-other-author-name-a {
	line-height: 24px;
	height: 24px;
}

span.book-page-author-name a:hover,
.book-page-other-author-name-a:hover {
	color: rgb(51, 51, 51);
	text-decoration: underline;
}

.book-page-ratings-area {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	min-width: 60%;
	max-width: 75%;
	margin-top: 10px;
}

.book-page-general-rating,
.book-page-general-rating-stars {
	display: flex;
	flex-direction: row;
}

.static-star.small {
	width: 15px;
	height: 15px;
	background-size: 15px 15px;
	background-repeat: no-repeat;
}

.static-star.full {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAABvUlEQVR4Ab2WNZDXQBTGcWtxd+173PYFh5bJ5uBK3B0q3N3d3RvkoMalb6hw6DY5yQ8np5v8s5l5sfe+7zezXi/tVa7HDSDqub5CX60knIONlleEU2h58Zh+xlflBO/umlmrZb/BvDsDx8AXv8G8u2nm6RP6APw3+OdgNMuSJJh/DppZniXB/Mu3mYvG9gJUVZDLr5kDtag6MDkrsyjwpka+bI+07DVaDhnfO260OhtquRRqdSN+3o3jfhyP4++P1YHJUUMtGrR44IUn3jBgwWQxaGF8OYPYRcCC+U8zytzQlygvIN4wqu7DIm9oXPAhB+gHvGsZuaqr0eppoaB44Vm3aTN7SnOj5URWKB542S8WgcwKtQptgWjQZlwixw63BaPJvmhM8wbZgtEUYu9dZwtGU5gjjiU465GIk2TntCMabWqwCaS4OuMokF1EdXm0GfpXrlaxCn2KAm/C7xre+ZesQ5uumVdNaRKLvyfMHlfVhPwjl6j9joc1mLX1H5PS0Jc15eenNKyunhw11P7W4ZFm09/0C/rOZl5SiwYtHmmm0Vs283jvbGWrRYMWD0vhxPbG92bWy3jhgVdVuQp3XI5mu1kSTwAAAABJRU5ErkJggg==');
}

.static-star.empty {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAQAAACROWYpAAABaUlEQVR4AZ3UtaLUQBgF4MGlxd31JfAH2BfYckvcHSqc6+7ubs31+ipwzgT3BocOm3XfSTY5fzP2xSfCLM/2PtsrnIbXeM05fsRHDqmxGwrK2O0Iy8t+LC87wpzxY844oTuhgsWd9vHFCL5oG2MqjDFlkz7fDhWt59ttYZ6PxTyvuzw3s1iAUlShga3s5gCHMI4vsdjXG+cQB9jNVjSgCqUsYBbc4uNS1kPZL9Z/XCr84Sn+tQX/8lTsp3iIn9Omn41DIj4vN2EyLTz5cpNIzrslqLak1e+WCF1wHH+08A+OW31ZR7T4iLAK9+sw91ti3NZh3LbEfKTDlr+k5xug9PV8gymmJ3axzJW5sX16TDE6Iku/whUYceFrZKzDhKqF+BVaNv58Q8ytjIdGf6mFWmwc8i/hP3lTzYsdV/PkTf7zzxmHtJj3ofiB+1O/f36A4n0tBthtLNde13J2Azq6Rh4TFpHHsCba8wIHb2XVGoaSPQAAAABJRU5ErkJggg==');
}

.static-star.almost-full {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAACdklEQVR4Ab2WA6wcURSGawa1ETZOo9q2FT3sW9e2bdu2bQW128WzjcFat+emHTwPduYm/+5wvz28p4rUVXh45yhi95opVdReRZuXvKSXmH6qDnbOjXL7YkaGUMzoVqpBC49uH+aLHo6w3LMjD6rp5mcM2Ksf40AzZtRWy80uBowV0IzUKA4tOLJzMANk5NGNtiof383LnvChjPyaUX0UdrPGWTZ4xA3FoMSxXf0xpExw9IgA0g5vr4ybty57VA6YsXqb8GTZufoIsW7+d3LtvD/Emjl2YtXsBHLVzBRqxfR0evm0bHqZOY9ebCx0LNITXvPEYEVgj3mS12q1vgQ9Bt0D3bBYLJdBZ0En4PwwaC8cR1ahzuxvTK6cmYxflCuPcQKCH61QAL6UmZlZj3PjthV3/ZqRIXng8RUBA6B5Zbv9wOb5HhO4UyrYMK48aL7dbh9QccyP7ujunK9xhhH8NTExUVi2ExcONiRXz04IA/hcWlpaXfHtcduKm/4Y4XH3cmA/aLas2s3fu2mRYLB+LAMeJIfJJNwssWBIpr6ywcTGRe8lWLwlLCOOYLBuDGPxL1lQ8vjezmKy2qsdzWZ0fHx8W+mJtWPVufIg1PoFP7HKA4PVBslgavn0zFJWQWfL371uM9tq4dhrnBD8Bx7Fr+HbkqDoydn6kCwhPhTvUNj9pTL/4JauzgVa0sezGEQjhGpJKaP5vH02VLRp8Rv0+UjNcv/o1au1ijYteQsuDjJw3J8llNHCzxjqnjYlgGtZ6Hu4hkEZ/+O8Q3wZzY704EEg7+iODmLfBUub4EHAAkvUizmHd3Qs2r5K9vBms9lmAbtlWff+AvvUBrbultsrAAAAAElFTkSuQmCC');
}

.static-star.almost-empty {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAACYElEQVR4AcXWA5DcYBQH8JqD2rY7qm0bw7Nt26xt27Ztt8nZRnBrpC9nrJIsMvNf7/32w7vvNWN7JScnj6HTTN/Xv3//QugYAv5FR69owdFd8//+/UvRQVF0lN7g0i0h92pgBEEC9QZXeFvyamCY7h96QYv2xCwVWa2tROvhI3QOl8f6PVQA++sc5nmY8kWWaxrAkG86RbH9WxaITZdTIovVjWEqJSVlmM7gsriA+1XwqsYwPd2+zEpja+gBLMLzOx7u8QcLc0OxENdUPMQ5kwhyzCEDHQrIALti0temrMLHChPZbZTRsFjBiCGlkFfwA55C7kNuQa7Aa+chJyFH4Pl+yE54bNyMOLG7Kx7snEH/QY1TM2IWAfhcXl5eh7ppTAi6KTFbKdcVDKAU4qF42vfEegptq6dTVcxXMkVLUBRdoHrND26ZzvM046mEzRjBX9PS0gZqVjZn9nbGQ11TlcMrNEVPZWdnt2d+GCQEXZWYK1x3daAE4sqpdkt2xviwgBdxMWs2nAtTGDbTXM4wFu3znsWI4zjDPHcTAVOYc0uEH945mUYUwn/+qMTh0OjPfmNtCTmlDEb+/tmLIMgeFaO2Zg0TgY55jUE4i+XQDOyu+Qwg6yBlCvDrrFDqwcmO0Gk0qGFYb5LcGT2n8WfpaQXoVSOYpCiqDZsy8qwBJabL5XiExzvqWGg7ZZ8HpCVMfThMsaxe67uARRl5f6ZRof1madn2MC8Gjf5cSG71Om9hXkauxkLSz66w5EAi44YdRtoN0Ft/4WL0xcL9WyaWw/9pmL7mXMoRpt4F7N6K3vsPiBFctC7XXLQAAAAASUVORK5CYII=');
}

.book-page-general-rating > span {
	margin-left: 3px;
	color: rgb(24, 24, 24);
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 18px;
	text-align: left;
}

.book-page-ratings-area button,
.book-page-ratings-area a {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	color: rgb(0, 99, 93);
	padding: 0;
	font-size: 12px;
	line-height: 18px;
	height: 22px;
}

button.rating-details {
	display: flex;
	flex-direction: row;
}

.book-page-ratings-area button:hover,
.book-page-ratings-area a:hover,
.book-page-genres-main .book-page-genres-title-a:hover,
.author-about-section-title-a:hover,
.book-page-books-by-author-a:hover,
.book-page-quiz-question-a:hover {
	background-color: transparent;
	text-decoration: underline;
}

.svg-container {
	width: 16px;
	height: 15px;
	padding: 2px;
	border: 1px solid rgb(221, 238, 221);
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	margin-right: 3px;
}

.rating-details svg {
	display: flex;
	flex-direction: column;
}

span.book-page-ratings-dot {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	color: rgb(153, 153, 153);
	font-size: 12px;
	line-height: 18px;
}

.book-page-synopsis-wrapper {
	padding-bottom: 10px;
	border-bottom: 1px solid rgb(216, 216, 216);
}

.book-page-synopsis-wrapper button,
button.review-show-more {
	color: rgb(0, 99, 93);
	padding: 0;
	display: inline;
	font-family: 'Merriweather', Georgia, serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
}

.book-page-synopsis-wrapper button:hover,
button.review-show-more:hover {
	background-color: transparent;
	text-decoration: underline;
	color: rgb(0, 99, 93);
}

.book-page-synopsis-area {
	height: 105px;
	margin-top: 10px;
	overflow: hidden;
}

.book-page-synopsis-area-full {
	height: auto;
	margin-top: 10px;
	overflow: hidden;
}

.book-page-synopsis-area p,
.book-page-synopsis-area-full p {
	color: rgb(24, 24, 24);
	font-family: 'Merriweather', Georgia, serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
}

.book-page-get-a-copy {
	margin-top: 10px;
	padding-bottom: 7px;
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid rgb(216, 216, 216);
}

.book-page-get-a-copy span,
.book-page-lists-with-book-top a.lists-with-book-a,
.book-page-community-reviews-title,
.book-page-readers-also-enjoyed-main span,
.book-page-genres-main .book-page-genres-title-a,
.author-about-section-title-a,
.book-page-books-by-author-a,
.book-page-quiz-question-a {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	color: rgb(56, 33, 16);
	font-size: 12px;
	font-weight: 700;
}

.book-page-get-a-copy a,
.book-page-review-bottom button {
	display: inline-block;
	color: rgb(51, 51, 51);
	padding: 10px;
	border: 1px solid rgb(214, 208, 196);
	border-radius: 3px;
	background-color: rgb(244, 241, 234);
	width: 50px;
	height: 14px;
	font-size: 14px;
	line-height: 14px;
	margin-top: 15px;
}

.book-page-get-a-copy a:hover {
	background-color: rgb(237, 230, 214);
	color: rgb(51, 51, 51);
}

.book-page-book-info-details {
	color: rgb(51, 51, 51);
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 18px;
	display: flex;
	flex-direction: column;
	margin-top: 7px;
}

.book-page-book-info-details span.book-publication-original-year {
	color: rgb(153, 153, 153);
}

.book-page-book-info-bottom {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.book-page-book-info-bottom button.show-more-book-info-details-button,
.book-page-book-info-bottom a.book-page-book-info-edit-details {
	background-color: transparent;
	display: block;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 24px;
	padding: 0;
	height: 24px;
	width: auto;
}

.book-page-book-info-bottom button.show-more-book-info-details-button {
	color: rgb(0, 99, 93);
}

.book-page-book-info-bottom a.book-page-book-info-edit-details {
	color: rgb(153, 153, 153);
}

.book-page-book-info-bottom button.show-more-book-info-details-button:hover,
.book-page-book-info-bottom a.book-page-book-info-edit-details:hover,
.book-page-book-info-details-expanded-right a:hover,
.book-page-lists-with-book-more a.more-lists-with-book-a:hover,
.book-page-review-instance-right-top-line
	.book-page-review-instance-user-rated
	a:hover,
.book-page-details-editions-bottom a:hover {
	text-decoration: underline;
}

.review-instance-stars {
	display: flex;
	flex-direction: row;
	margin-left: 3px;
}

.book-page-book-info-details-expanded {
	display: flex;
	flex-direction: row;
	padding-top: 15px;
}

.book-page-book-info-details-expanded-left,
.book-page-book-info-details-expanded-right {
	display: flex;
	flex-direction: column;
}

.book-page-book-info-details-expanded-left {
	color: rgb(56, 33, 16);
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-size: 12px;
	line-height: 18px;
	padding-right: 15px;
}

.book-page-book-info-details-expanded-left a {
	padding-top: 0;
	padding-bottom: 0;
	line-height: 18px;
	height: auto;
}

.book-page-book-info-details-expanded-left a:hover {
	color: rgb(56, 33, 16);
	text-decoration: underline;
}

.book-page-book-info-details-expanded-right > a.book-page-details-series-a,
.book-page-details-editions-bottom a,
.book-page-lists-with-book-bottom a.book-page-lists-with-book-pv-title {
	color: rgb(0, 99, 93);
	background-color: transparent;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 18px;
	padding: 0;
	height: 18px;
}

.book-page-book-info-details-expanded-right > a.book-page-details-series-a {
	display: block;
	width: auto;
}

.book-page-book-info-details-expanded-right .book-page-details-other-editions {
	display: flex;
	flex-direction: row;
	max-width: 195px;
	overflow: hidden;
}

.no-other-editions-found-span {
	color: rgb(119, 119, 119);
}

.book-page-details-editions-bottom {
	padding-top: 10px;
}

.book-page-details-editions-bottom a,
.book-page-details-editions-bottom span {
	margin-left: 2px;
}

.book-page-details-editions-bottom span {
	color: rgb(153, 153, 153);
}

.book-page-book-info-details-expanded-right .book-page-details-other-editions a,
.book-page-book-info-details-expanded-right
	.book-page-details-other-editions
	img {
	width: 37px;
	height: 55px;
	margin-right: 2px;
	margin-top: 2px;
}

.book-page-lists-with-book {
	margin-top: 30px;
	margin-bottom: 50px;
}

.book-page-lists-with-book-top {
	border-bottom: 1px solid rgb(216, 216, 216);
	height: 40px;
}

.book-page-lists-with-book-top a.lists-with-book-a:hover,
.book-page-lists-with-book-bottom a.book-page-lists-with-book-pv-title:hover {
	text-decoration: underline;
}

.book-page-lists-with-book-bottom {
	padding-top: 10px;
	padding-left: 10px;
	overflow: hidden;
}

.book-page-lists-with-book-bottom a.book-page-lists-with-book-pv-title {
	font-weight: 700;
	display: inline;
}

.book-page-lists-with-book-pv-bottom {
	padding-top: 3px;
}

.book-page-lists-with-book-pv-bottom .book-page-lists-with-book-pv-stats {
	color: rgb(153, 153, 153);
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 18px;
	display: block;
}

.book-page-lists-with-book-pv-top {
	display: flex;
	flex-direction: row;
	width: 285px;
	overflow: hidden;
}

.book-page-lists-book-pv,
.book-page-lists-book-pv img {
	width: 55px;
	height: 80px;
	margin-right: 2px;
}

.book-page-lists-with-book-more a.more-lists-with-book-a {
	color: rgb(0, 99, 93);
	display: block;
	float: right;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: 700;
	line-height: 18px;
	width: 152px;
	height: 18px;
}

.book-page-community-reviews-top {
	padding-bottom: 5px;
	border-bottom: 1px solid rgb(216, 216, 216);
}

.book-page-community-reviews-top .book-page-community-reviews-showing {
	float: right;
	color: rgb(24, 24, 24);
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 11px;
	line-height: 14px;
}

.ratings-section {
	padding-bottom: 10px;
	border-bottom: 1px solid rgb(216, 216, 216);
}

.ratings-section-top a,
.ratings-section-top button,
.ratings-section-top span {
	font-size: 14px;
}

.ratings-section-top a.book-page-ratings-count,
.ratings-section-top a.book-page-reviews-count,
.ratings-section-bottom-left span {
	cursor: text;
	color: rgb(153, 153, 153);
}

.ratings-section-top a.book-page-ratings-count:hover,
.ratings-section-top a.book-page-reviews-count:hover {
	text-decoration: none;
}

.ratings-section-bottom {
	margin-top: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.ratings-section-bottom-left button {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	color: rgb(0, 99, 93);
	padding: 0;
	font-size: 14px;
	line-height: 18px;
	height: 18px;
}

.ratings-section-bottom-left span {
	height: 18px;
	display: inline-flex;
	align-items: center;
}

.ratings-section-bottom-left {
	width: 17%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.ratings-section-bottom-left button:hover {
	background-color: transparent;
	text-decoration: underline;
}

.ratings-section-bottom-right {
	position: relative;
}

.book-page-review-search-box {
	border: 1px solid rgb(220, 214, 204);
	border-radius: 3px;
	width: 172px;
	height: 17px;
	padding: 4px;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: normal;
}

.book-page-review-search-box:focus {
	border-color: rgb(185, 173, 153);
	box-shadow: rgba(185, 173, 153, 0.5) 0px 0px 4px 0px;
}

.review-search-box-magnifying-glass {
	background: url('https://s.gr-assets.com/assets/layout/header/icn_nav_search.svg')
		no-repeat;
	background-size: 18px 19px;
	width: 18px;
	height: 19px;
	position: absolute;
	top: 3px;
	right: -8px;
}

.review-search-box-magnifying-glass:hover {
	background-color: transparent;
}

.book-page-community-reviews .reviews-section {
	padding-top: 10px;
}

.start-your-review-section {
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
}

.start-your-review-profile-picture img {
	width: 50px;
	height: 66px;
	margin-right: 10px;
}

.start-your-review-section-right {
	width: 100%;
}

.start-your-review-section-right > span {
	color: rgb(24, 24, 24);
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
}

.start-your-review-section-right span a {
	color: rgb(0, 99, 93);
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
}

.start-your-review-section-right span a:hover {
	color: rgb(0, 99, 93);
	text-decoration: underline;
}

.start-your-review-section-right-stars-write {
	display: flex;
	flex-direction: row;
	margin-top: 10px;
}

.start-your-review-section-right-stars-write > a {
	background-color: rgb(244, 241, 234);
	border: 1px solid rgb(214, 208, 196);
	color: rgb(51, 51, 51);
	padding: 8px 12px;
	border-radius: 3px;
	width: 91px;
	height: 16px;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 14px;
	margin-left: 15px;
}

.start-your-review-section-right-stars-write > a:hover {
	background-color: rgb(237, 230, 214);
}

.start-your-review-section-right-stars {
	display: flex;
	flex-direction: row;
}

.book-page-community-reviews
	.reviews-section
	.book-page-reviews-section-review-list
	.book-page-review-instance {
	display: flex;
	flex-direction: row;
	margin-bottom: 15px;
}

.book-page-review-instance-profile-image {
	width: 50px;
	height: 66px;
	margin-right: 10px;
}

.book-page-review-instance .book-page-review-instance-right {
	width: 100%;
}

.book-page-review-instance
	.book-page-review-instance-right
	.book-page-review-instance-right-top-line {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.book-page-review-instance-right > span {
	display: block;
}

.book-page-review-instance-right-top-line
	.book-page-review-instance-user-rated {
	display: flex;
	flex-direction: row;
}

.book-page-review-instance-right-top-line
	.book-page-review-instance-user-rated
	a {
	display: inline;
	color: rgb(0, 99, 93);
	float: right;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: 700;
	line-height: 18px;
	height: 18px;
}

.book-page-review-instance-right-top-line
	.book-page-review-instance-user-rated
	span {
	display: inline;
	color: rgb(24, 24, 24);
	font-size: 14px;
	line-height: 18px;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
}

.book-page-review-instance-right-top-line a.book-page-review-instance-date {
	color: rgb(187, 187, 187);
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	height: 18px;
}

.book-page-review-instance-right-top-line
	a.book-page-review-instance-date:hover {
	text-decoration: underline;
}

.recommends-it-for,
.book-page-review-instance-shelves {
	color: rgb(153, 153, 153);
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
}

.recommends-it-for-answer {
	color: rgb(24, 24, 24);
}

.book-page-review-bottom {
	margin-top: 15px;
	width: 30%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.book-page-review-instance-shelves-answer a,
.book-page-review-bottom a {
	color: rgb(0, 99, 93);
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
}

.book-page-review-instance-shelves-answer a:hover,
.book-page-review-bottom a:hover,
.book-page-main-content-right-top a:hover,
.book-page-main-content-right-top button:hover {
	text-decoration: underline;
	background-color: transparent;
}

.book-page-review-main-body {
	margin-top: 15px;
	color: rgb(24, 24, 24);
	font-family: 'Merriweather', Georgia, serif;
	font-size: 14px;
	line-height: 21px;
	max-height: 292px;
	overflow: hidden;
}

.book-page-review-main-body.full {
	max-height: none;
}

.book-page-review-bottom button {
	margin: 0;
	font-size: 11px;
	line-height: 11px;
	padding: 4px 12px;
	width: 46px;
	height: 21px;
}

.book-page-review-bottom button:hover {
	background-color: rgb(237, 230, 214);
}

.book-page-review-bottom .black-dot {
	display: inline-flex;
	align-items: center;
}

.book-page-main-content-right-top {
	width: 40%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 15px;
}

.book-page-main-content-right-top a,
.book-page-main-content-right-top button,
.book-page-main-content-right-top span {
	padding: 0;
	display: inline;
	color: rgb(153, 153, 153);
	width: auto;
	height: auto;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 18px;
}

.book-page-readers-also-enjoyed {
	margin-bottom: 70px;
}

.book-page-readers-also-enjoyed-main a,
.book-page-readers-also-enjoyed-main a img {
	width: 87px;
	height: 130px;
	margin-right: 4px;
}

.book-page-readers-also-enjoyed-main-list {
	margin-top: 7px;
	overflow: hidden;
}

.book-page-readers-also-enjoyed-main-list-contents {
	display: flex;
	flex-direction: row;
	transition: 0.5s ease-in-out;
	padding-top: 3px;
}

.book-page-readers-also-enjoyed-selection {
	position: relative;
}

.book-page-readers-also-enjoyed-selection button {
	position: absolute;
	top: 0;
	z-index: 1;
}

.book-page-readers-also-enjoyed-forward-button,
.book-page-readers-also-enjoyed-back-button {
	background-repeat: no-repeat;
	background-position-y: center;
	background-position-x: center;
	width: 25px;
	padding: 0;
}

.book-page-readers-also-enjoyed-forward-button {
	right: 0;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAXCAYAAAA7kX6CAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABV0RVh0Q3JlYXRpb24gVGltZQA3LzI0LzEzqXi4CAAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAI9SURBVDiNnZRNaFNBFIW/9/LT2DTaWLVajXElEYUK0qWCQilmYUG6cad7XVS6dFVdqIsshRRBjRVcpKBItiIUC4Jg+/wBtdU22BiNqDzpT37eGxe5kw4RN71wVsOZc8+5d8ZSSrGZsgQBICgA8AQNwDcJWsgWhIFOz/O+uK57P5lMdgNb5CL7f6phIA4klVSxWHwIJIFtcm6Zilq1A9gFHFZGOY6TBfYDW4GQJpvECNAHHFNtNT09fRVIADFNblfsAwYcx3FNou/7fqFQuAzsBbrEs6WJYWm1P5FIPFpYWFgzyfV6vZbL5c4De4AoENDEoIRzEDiTSqWelcvlmkmuVqurmUxmGNgBdJgjiUo7A8CFoaGh2Xa/rut+Aw4AMaUUQUABdWAdWAFKvb3x2c+fXvWbM1sufY1IkEHdJkL2gUY6PdgzNnbxrGVvzH1lZdUbHb3ygo2FAZlPB7AzfXrw+Gvn+fLSoqM0Pn546Z06eWIOOCc5dGuPAYk66Tgz74rFt0pjaemNPzIy/B64JP73AVHt0RbF6PZ4/JDpa/zajWI+//geMAv8kgzq2qMtWxExfWWzd0oTE3cfADNABfgNrNF8Mdji0QYClmVjWTZTU08q4+PX88BT4Dvw01BrPeCIbMXR+fm5+uTk7UooFLoFDAJHgN0y59a6KaVaicaAHuAmsAjkpbUfgAtUaT5spRO15KZOIXdJyjVp7Q/NxfB0iyZR/wBhUbfES03QMH2ZxFY4AkTBN5X+IW72l/sLwHFRUUmxtEIAAAAASUVORK5CYII=');
}

.book-page-readers-also-enjoyed-back-button {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAXCAYAAAA7kX6CAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABV0RVh0Q3JlYXRpb24gVGltZQA3LzI0LzEzqXi4CAAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAI8SURBVDiNnZRNaBNBFMd/M0mbaFpNYrW0NaYnqXjwIIVeFBRKsAcLUg/e9K6H2iIUPFUKHiR348VGBA8pKJqrCMGC4CFdP0ClYIOWavGDrbZN0t3xkDdljfHSB39YZvY3839v3owyxrCTCAMopVrNaZkPiQC2RJ7+z4IW2pVOp+Ou697zPO8TsBtoBzQtrCqZ3AukK5XKAyMBpIEE0N4MKqAN2AMcchzntgkEcBQ4AESCoIU6gVSpVLphmgI4DvQCUQsqyakD6CsWi1d93/eDkOM4LjAo4PaOISAG9OTz+Yv1er0WhBYXFzdSqdRD4JhY3c4xAnRls9nRarW6HoRWVlZqAwMDz4CzwGEpTtiCnUC/67pfmvPKZDJl4JLY7BNnOiyFCQPRhYVStK+356+z6e5OlIFl4DewCdQBYxtAA3p8/PqL9Y1NT2mN1eTk5XMjI8P7aHSMDzSOQazGxf+F06dOLnx4/9Jb+ugYq1fO888jZ4ZPAPulHsqCMeCg5HFlbGz03dLSa79SeWOsHGf+rXROBxCyVuuSww+gXCg8mp2ZuVXRSmOVTCSOyAYRQFtwC9gAfgKrwHwud/d+7s7scjBfICrdtQ2awK7fga/A0+npm4W5ucerSmmU0rZRNKDCAdAPwFr0ZGJiqi2ZjJ8fGhqM26MAUMaY4EVWsmqExg3pkoqPAf3ANeAbsNYMBuEojY6K0bifHvALWAPWw/wbRn6qyvemFMTIWA3wW4EW3goUzb45nsionb5yfwCzsDcwXc9OLgAAAABJRU5ErkJggg==');
}

.book-page-readers-also-enjoyed-forward-button:hover,
.book-page-readers-also-enjoyed-back-button:hover {
	background-color: rgba(24, 24, 24, 0.7);
}

.book-page-readers-also-enjoyed-similar-books-a,
.book-page-genres-see-top-shelves,
.book-page-books-by-author-more {
	color: rgb(0, 99, 93);
	float: right;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: 700;
	line-height: 18px;
	margin-top: 15px;
}

.book-page-readers-also-enjoyed-similar-books-a:hover,
.book-page-genres-see-top-shelves:hover,
.book-page-books-by-author-more:hover {
	color: rgb(0, 99, 93);
	text-decoration: underline;
}

.book-page-genres-title-area,
.author-about-section-title-area,
.book-page-books-by-author-main-title-area,
.book-page-articles-title-area,
.book-page-quiz-section-title-area,
.book-page-quotes-section-title-area {
	height: 40px;
	border-bottom: 1px solid rgb(216, 216, 216);
}

.book-page-genres-list {
	padding-top: 10px;
}

.book-page-genres-list-cell {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 7px 5px;
	border-bottom: 1px solid rgb(216, 216, 216);
}

.book-page-genres-list-cell.last {
	border-bottom: none;
}

.book-page-genres-list-cell .genre-name,
.book-page-genres-list-cell .user-count {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
}

.book-page-genres-list-cell .genre-name {
	color: rgb(0, 99, 93);
}

.book-page-genres-list-cell .user-count {
	color: rgb(153, 153, 153);
}

.book-page-genres-list-cell .genre-name:hover,
.book-page-genres-list-cell .user-count:hover {
	text-decoration: underline;
}

.author-about-section {
	margin-top: 60px;
}

.author-about-section-title-a:hover,
.book-page-books-by-author-a:hover,
.book-page-quiz-question-a:hover {
	color: rgb(56, 33, 16);
}

.author-about-section-preview-top {
	padding-top: 15px;
	display: flex;
	flex-direction: row;
	margin-bottom: 15px;
}

.author-about-section-preview-top > a {
	display: block;
	width: 75px;
	height: 75px;
	overflow: hidden;
	border-radius: 50%;
}

.author-about-section-preview-top a img {
	width: 75px;
}

.author-about-section-preview-right {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
}

.author-about-section-preview-name {
	color: rgb(0, 0, 0);
	font-family: 'Merriweather', Georgia, serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: 900;
}

.author-about-section-preview-name:hover {
	text-decoration: underline;
	color: rgb(0, 0, 0);
}

.author-about-section-preview-follower-count {
	color: rgb(153, 153, 153);
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 18px;
	margin-top: 3px;
}

.book-page-follow-author-button {
	background-color: rgb(244, 241, 234);
	border: 1px solid rgb(214, 208, 196);
	border-radius: 3px;
	padding: 8px 12px;
	color: rgb(51, 51, 51);
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 14px;
	height: 32px;
	width: 140px;
	margin-top: 10px;
}

.book-page-follow-author-button:hover {
	background-color: rgb(237, 230, 214);
	color: rgb(51, 51, 51);
}

.author-about-section-about,
.author-about-section-about-full {
	color: rgb(24, 24, 24);
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	overflow: hidden;
}

.author-about-section-about {
	height: 162px;
}

button.author-about-show-more {
	color: rgb(0, 99, 93);
	padding: 0;
	display: inline;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
}

button.author-about-show-more:hover {
	background-color: transparent;
	text-decoration: underline;
}

.book-page-books-by-author {
	margin-top: 15px;
}

.book-page-books-by-author-main-list {
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	width: 93.2%;
	overflow: hidden;
}

.book-page-books-by-author-main-list a,
.book-page-books-by-author-main-list a img {
	width: 50px;
	height: 81px;
	margin-left: 3px;
}

.book-page-quiz-section {
	margin-top: 50px;
}

.book-page-no-quizzes-yet-span {
	color: rgba(24, 24, 24);
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
}

.book-page-no-quizzes-yet-span a {
	color: rgb(0, 99, 93);
}

.book-page-no-quizzes-yet-span a:hover {
	text-decoration: underline;
}
