@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.book-editions-page-main-content {
	width: 970px;
	margin: 20px 155px;
}

.book-editions-page-main-content a {
	padding: 0;
	line-height: normal;
}

.book-editions-page-main-content a:hover {
	background-color: transparent;
}

.book-editions-page-title {
	color: rgb(56, 33, 16);
	font-family: 'Merriweather', Georgia, 'Times New Roman', serif;
	font-size: 20px;
	font-weight: bold;
	line-height: 24px;
}

.book-editions-page-title a {
	display: inline;
	color: rgb(0, 99, 93);
	font-family: 'Merriweather', Georgia, 'Times New Roman', serif;
	font-size: 20px;
}

.book-editions-page-title a:hover {
	text-decoration: underline;
}

.book-editions-page-title > span {
	margin-left: 6px;
}
