@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.user-bookshelf-page-add-to-shelves-popup {
	position: absolute;
}

.add-to-shelves-popup-wrapper .user-bookshelf-page-add-to-shelves-popup {
	display: none;
}

.add-to-shelves-popup-wrapper
	.user-bookshelf-page-add-to-shelves-popup.visible {
	display: block;
}
