@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.user-page-main-content {
	margin: 0 155px;
	padding: 15px 0;
	display: flex;
	flex-direction: row;
}

.user-page-main-content a {
	padding: 0;
	height: auto;
	background-color: transparent;
}

.user-page-main-content-left-section {
	width: 625px;
	padding: 0 10px 0 8px;
}

.user-page-main-content-right-section {
	width: 300px;
	margin-top: 20px;
	margin-left: 5px;
}

.user-page-introduction {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.user-page-introduction .left-section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.user-page-introduction .left-section img {
	width: 148px;
	height: 148px;
	border-radius: 76px;
	border: 1px solid rgb(216, 216, 216);
}

.user-page-introduction .left-section .ratings-stats {
	position: relative;
	margin-top: 5px;
}

.user-page-introduction .left-section .ratings-stats a,
.user-page-introduction .left-section .ratings-stats button,
.user-page-introduction .left-section .number-of-reviews-a {
	display: inline;
	color: var(--goodreads-teal);
	font-family: var(--lato-font);
	font-size: 12px;
	line-height: 18px;
	padding: 0;
	background-color: transparent;
}

.user-page-introduction .left-section .ratings-stats a:hover,
.user-page-introduction .left-section .ratings-stats button:hover,
.user-page-introduction .left-section .number-of-reviews-a:hover {
	text-decoration: underline;
}

.user-page-introduction .left-section .ratings-stats a {
	margin-right: 3px;
}

.user-page-introduction .right-section {
	width: 445px;
}

.user-page-introduction .right-section h1 {
	color: var(--goodreads-brown);
	font-family: var(--merriweather-font);
	font-size: 20px;
	font-weight: bold;
	line-height: 26px;
	padding-bottom: 5px;
	border-bottom: 1px solid rgb(216, 216, 216);
}

.user-page-introduction .right-section .follow-friends-buttons {
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

.user-page-introduction .right-section .follow-button {
	width: 148px;
	padding: 12px 0;
	height: 42px;
	border-radius: 3px;
	font-family: var(--lato-font);
	font-size: 16px;
	line-height: 16px;
	background-color: var(--goodreads-brown);
	color: rgb(255, 255, 255);
	border: 1px solid var(--goodreads-brown);
}

.user-page-introduction .right-section .follow-button:hover {
	background-color: rgb(88, 55, 31);
}

.user-page-introduction .right-section .follow-button span {
	color: rgb(255, 255, 255);
	font-family: var(--lato-font);
	font-size: 16px;
	line-height: 16px;
}

.user-page-introduction .right-section .follow-button.following {
	background-color: rgb(244, 241, 234);
	color: rgb(51, 51, 51);
	border-color: rgb(214, 208, 196);
}

.user-page-introduction .right-section .follow-button.following > span {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: rgb(51, 51, 51);
}

.user-page-introduction .right-section .follow-button.following > span span {
	color: rgb(51, 51, 51);
}

.user-page-introduction .right-section .follow-button.following:hover {
	background-color: rgb(237, 230, 214);
}

.user-page-introduction
	.right-section
	.follow-button.following
	.following-checkmark {
	width: 12px;
	height: 12px;
	background-image: url('https://s.gr-assets.com/assets/icons/icn-checkmark-brown-dark.svg');
	margin-right: 8px;
}

.user-page-introduction .right-section .add-as-friend-a {
	margin: 0 15px;
	text-align: center;
	width: 148px;
	padding: 12px 0;
	height: 16px;
	border-radius: 3px;
	font-family: var(--lato-font);
	font-size: 16px;
	line-height: 16px;
	background-color: rgb(244, 241, 234);
	border: 1px solid rgb(214, 208, 196);
	color: rgb(51, 51, 51);
}

.user-page-introduction .right-section .add-as-friend-a:hover {
	background-color: rgb(237, 230, 214);
}

.user-page-introduction .right-section .more-dropdown-trigger {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 55px;
	height: 27px;
	margin-bottom: 5px;
	background-color: transparent;
	padding: 0;
}

.user-page-introduction .right-section .more-dropdown-trigger,
.user-page-introduction .right-section .more-dropdown-trigger span {
	color: var(--goodreads-light-gray);
	font-family: var(--lato-font);
	font-size: 14px;
	line-height: 18px;
}

.user-page-introduction .right-section .more-dropdown-trigger .downwards-arrow {
	display: block;
	background-image: url('https://s.gr-assets.com/assets/down_carrot.svg');
	height: 100%;
	width: 20px;
	background-repeat: no-repeat;
	background-position: center;
}

.user-page-introduction
	.right-section
	.more-dropdown-trigger
	.more-dropdown.hidden {
	display: none;
}

.user-page-introduction .right-section table.user-misc {
	margin-top: 11px;
}

.user-page-introduction .right-section table.user-misc tr {
	padding: 0;
}

.user-page-introduction .right-section table.user-misc th {
	padding: 3px 20px 3px 0;
	text-align: left;
	color: var(--goodreads-brown);
	font-family: var(--lato-font);
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
}

.user-page-introduction .right-section table.user-misc td {
	color: rgb(24, 24, 24);
	font-family: var(--lato-font);
	font-size: 14px;
	line-height: 18px;
}

.user-page-introduction .right-section table.user-misc td a {
	color: var(--goodreads-teal);
	font-family: var(--lato-font);
	font-size: 14px;
	line-height: 18px;
}

.user-page-introduction .right-section table.user-misc td a:hover {
	text-decoration: underline;
}

.user-page-main-content .section-title {
	display: block;
	width: 100%;
	padding: 2px 0;
	color: var(--goodreads-brown);
	font-family: var(--lato-font);
	font-size: 12px;
	font-weight: bold;
	height: 24px;
	line-height: 24px;
	border-bottom: 1px solid rgb(216, 216, 216);
}

.user-page-main-content a.section-title:hover {
	text-decoration: underline;
}

.user-page-to-read-shelf-section {
	margin-top: 25px;
}

.user-page-to-read-shelf-section .book-list {
	margin-top: 15px;
	margin-left: 30px;
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
}

.user-page-to-read-shelf-section .book-list .book-a {
	margin-left: 3px;
}

.user-page-to-read-shelf-section .book-list img {
	width: 50px;
	height: 75px;
}

.user-page-to-read-shelf-section .more-books-a,
.user-page-bookshelves-section .more-a {
	float: right;
	color: var(--goodreads-teal);
	font-family: var(--lato-font);
	font-size: 13px;
	font-weight: bold;
	line-height: 18px;
}

.user-page-to-read-shelf-section .more-books-a:hover,
.user-page-bookshelves-section .more-a:hover {
	text-decoration: underline;
}

.user-page-bookshelves-section {
	margin-top: 40px;
}

.user-page-bookshelves-section .bookshelves-list {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-height: 145px;
}

.user-page-bookshelves-section .bookshelves-list a {
	width: auto;
	overflow: hidden;
	max-width: 136px;
	margin-right: 0;
	margin-bottom: 3px;
	color: var(--goodreads-teal);
	font-family: var(--lato-font);
	font-size: 14px;
	line-height: 18px;
}

.user-page-bookshelves-section .bookshelves-list a:hover {
	text-decoration: underline;
}

.user-page-currently-reading-section {
	margin-top: 40px;
}

.user-page-currently-reading-section .section-title {
	border: none;
}

.user-page-currently-reading-section .currently-reading-list .book-update {
	border-top: 1px solid rgb(216, 216, 216);
	padding: 15px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.user-page-currently-reading-section
	.currently-reading-list
	.book-update
	.left-section {
	display: flex;
	flex-direction: row;
}

.user-page-currently-reading-section
	.currently-reading-list
	.book-update
	.left-section
	img {
	width: 65px;
	height: 98px;
	margin-right: 15px;
}

.user-page-currently-reading-section
	.currently-reading-list
	.book-update
	.left-section
	.book-update-info {
	display: flex;
	flex-direction: column;
}

.user-page-currently-reading-section
	.currently-reading-list
	.book-update
	.left-section
	.book-update-info
	span,
.user-page-currently-reading-section
	.currently-reading-list
	.book-update
	.left-section
	.book-update-info
	a {
	display: inline;
}

.user-page-currently-reading-section
	.currently-reading-list
	.book-update
	.left-section
	.book-update-info
	.currently-reading-span {
	color: var(--goodreads-brown);
	font-family: var(--lato-font);
	font-size: 13px;
	line-height: 18px;
	margin-bottom: 5px;
}

.user-page-currently-reading-section
	.currently-reading-list
	.book-update
	.left-section
	.book-update-info
	.currently-reading-span
	a {
	color: var(--goodreads-teal);
	font-family: var(--lato-font);
	font-size: 13px;
	font-weight: bold;
	line-height: 18px;
}

.user-page-currently-reading-section
	.currently-reading-list
	.book-update
	.left-section
	.book-update-info
	.currently-reading-span
	a:hover,
.user-page-currently-reading-section
	.currently-reading-list
	.book-update
	.left-section
	.book-update-info
	.book-title-a:hover,
.user-page-currently-reading-section
	.currently-reading-list
	.book-update
	.left-section
	.book-update-info
	.book-authorship-span
	a:hover,
.user-page
	.user-recent-updates-section
	.update-book-section
	.left-section
	.book-title-a:hover,
.user-page
	.user-recent-updates-section
	.update-book-section
	.left-section
	.book-authorship-span
	a:hover {
	text-decoration: underline;
}

.user-page-currently-reading-section
	.currently-reading-list
	.book-update
	.left-section
	.book-update-info
	.book-title-a,
.user-page
	.user-recent-updates-section
	.update-book-section
	.left-section
	.book-title-a {
	color: rgb(51, 51, 51);
	font-family: var(--merriweather-font);
	font-size: 15.6px;
	font-weight: bold;
	line-height: 20px;
}

.user-page-currently-reading-section
	.currently-reading-list
	.book-update
	.left-section
	.book-update-info
	.book-authorship-span,
.user-page
	.user-recent-updates-section
	.update-book-section
	.left-section
	.book-authorship-span {
	color: rgb(0, 0, 0);
	font-family: var(--lato-font);
	font-size: 11px;
	line-height: 14px;
}

.user-page-currently-reading-section
	.currently-reading-list
	.book-update
	.left-section
	.book-update-info
	.book-authorship-span
	a,
.user-page
	.user-recent-updates-section
	.update-book-section
	.left-section
	.book-authorship-span
	a {
	color: rgb(51, 51, 51);
	font-family: var(--merriweather-font);
	font-size: 12px;
	line-height: 18px;
}

.user-page-currently-reading-section
	.currently-reading-list
	.book-update
	.left-section
	.book-update-info
	.goodreads-member-span,
.user-page
	.user-recent-updates-section
	.update-book-section
	.left-section
	.book-authorship-span
	.goodreads-member-span {
	color: var(--goodreads-light-gray);
	font-family: var(--lato-font);
	font-size: 13px;
	line-height: 18px;
	margin-left: 3px;
}

.user-page-currently-reading-section
	.currently-reading-list
	.book-update
	.left-section
	.book-update-info
	.bookshelves-span {
	color: var(--goodreads-brown);
	font-family: var(--lato-font);
	font-size: 13px;
	line-height: 18px;
}

.user-page-currently-reading-section
	.currently-reading-list
	.book-update
	.left-section
	.book-update-info
	.bookshelves-span
	a {
	color: var(--goodreads-teal);
	font-family: var(--lato-font);
	font-size: 13px;
	line-height: 18px;
}

.user-page-currently-reading-section
	.currently-reading-list
	.book-update
	.left-section
	.book-update-info
	.bookshelves-span
	a:hover {
	text-decoration: underline;
}

.user-page-currently-reading-section
	.currently-reading-list
	.book-update
	.left-section
	.update-date-span,
.user-page-main-content .user-recent-updates-section .update-date-span {
	margin-top: 15px;
	color: var(--goodreads-light-gray);
	font-family: var(--lato-font);
	font-size: 14px;
	line-height: 18px;
}

.user-page-main-content .add-to-shelf-button-and-dropdown {
	display: flex;
	flex-direction: row;
	margin-top: 20px;
}

.user-page .interactive-star {
	cursor: pointer;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAQAAACROWYpAAABaUlEQVR4AZ3UtaLUQBgF4MGlxd31JfAH2BfYckvcHSqc6+7ubs31+ipwzgT3BocOm3XfSTY5fzP2xSfCLM/2PtsrnIbXeM05fsRHDqmxGwrK2O0Iy8t+LC87wpzxY844oTuhgsWd9vHFCL5oG2MqjDFlkz7fDhWt59ttYZ6PxTyvuzw3s1iAUlShga3s5gCHMI4vsdjXG+cQB9jNVjSgCqUsYBbc4uNS1kPZL9Z/XCr84Sn+tQX/8lTsp3iIn9Omn41DIj4vN2EyLTz5cpNIzrslqLak1e+WCF1wHH+08A+OW31ZR7T4iLAK9+sw91ti3NZh3LbEfKTDlr+k5xug9PV8gymmJ3axzJW5sX16TDE6Iku/whUYceFrZKzDhKqF+BVaNv58Q8ytjIdGf6mFWmwc8i/hP3lTzYsdV/PkTf7zzxmHtJj3ofiB+1O/f36A4n0tBthtLNde13J2Azq6Rh4TFpHHsCba8wIHb2XVGoaSPQAAAABJRU5ErkJggg==');
	background-repeat: no-repeat;
}

.user-page .interactive-star.small {
	background-size: 15px 15px;
	width: 15px;
	height: 15px;
}

.user-page .interactive-star.big {
	background-size: 30px 30px;
	width: 30px;
	height: 30px;
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxuczpza2V0Y2g9Imh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaC9ucyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBoZWlnaHQ9IjE1cHgiIHdpZHRoPSIxNXB4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgMTUgMTUiPjwhLS0gR2VuZXJhdG9yOiBTa2V0Y2ggMy40LjEgKDE1NjgxKSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4KIDx0aXRsZT5nci1zdGFyLWVtcHR5PC90aXRsZT4KIDxnIGlkPSJBc3NldHMiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc2tldGNoOnR5cGU9Ik1TUGFnZSIgZmlsbD0ibm9uZSI+CiAgPHBvbHlnb24gaWQ9IlN0YXItMTAtQ29weS02IiBza2V0Y2g6dHlwZT0iTVNTaGFwZUdyb3VwIiBwb2ludHM9IjcuNSAxMS42MDkgMi44NjQ3IDE1IDQuNSA5LjMxNjcgNC4zNTY2ZS0xNiA1LjcyOTUgNS42NDU5IDUuNjA4NSA3LjUgMCA5LjM1NDEgNS42MDg1IDE1IDUuNzI5NSAxMC41IDkuMzE2NyAxMi4xMzUgMTUiIGZpbGw9IiNENkQ2RDYiLz4KIDwvZz4KPC9zdmc+Cg==');
}

.user-page .interactive-star.big.on {
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxuczpza2V0Y2g9Imh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaC9ucyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBoZWlnaHQ9IjE1cHgiIHdpZHRoPSIxNXB4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgMTUgMTUiPjwhLS0gR2VuZXJhdG9yOiBTa2V0Y2ggMy40LjEgKDE1NjgxKSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4KIDx0aXRsZT5nci1zdGFyLXlvdXItcmF0aW5nPC90aXRsZT4KIDxnIGlkPSJBc3NldHMiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc2tldGNoOnR5cGU9Ik1TUGFnZSIgZmlsbD0ibm9uZSI+CiAgPHBvbHlnb24gaWQ9IlN0YXItMTAtQ29weS03IiBza2V0Y2g6dHlwZT0iTVNTaGFwZUdyb3VwIiBwb2ludHM9IjcuNSAxMS42MDkgMi44NjQ3IDE1IDQuNSA5LjMxNjcgMS4xNjE4ZS0xNCA1LjcyOTUgNS42NDU5IDUuNjA4NSA3LjUgMCA5LjM1NDEgNS42MDg1IDE1IDUuNzI5NSAxMC41IDkuMzE2NyAxMi4xMzUgMTUiIGZpbGw9IiNGNkE2MjMiLz4KIDwvZz4KPC9zdmc+Cg==');
}

.user-page .interactive-star.on {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAABwElEQVR4Ab2WNbDVQBSGg0uLu+y5wUoqKrxHW0pK3B0q3N11N7hLg9e49A0VLrsXD/lmeK7RnVk95/+/3Mh5z0vafpyRoXSv6FY2spJeONga9YJeKPTHOX+w1Sqksy7wNpeWVYBZF3mbn1WAWRcC/R4M9iugFZ2zIt7mJbXBnOUOtlqe1AZzlu9tPqMEUH2dWG7gciCLGgITi2mmprmgtL2s1V5r5JAzcjzqgTPqfLS/arXcclruOK0eRvv3DYGJkUMuGrR44IUn3jBgwfTCq8M7RgKDuIgOC6ZX0aKDuc6o33kB8YbRwKfij7Va3mUNxRPvxp/5+SH9rJHHWUHxwtNrTgvPjOjgjJxIC8UDLy9uc1pmReJfCYC/0KYrGro0Pi4YTRa1eVRcMJrUYBeodXHBaDL5FycuGE0qqDOqT4qC0Sf5rw3U9IZLn+yiNxRHm+IXy6V6TD8440+syGHNWe08tImg4ZlhbSPx11oF/mF9t5AzYrXAX/GIDaa2VgP+sUatCc9MbdVQPjFyyK3Q4ZGkam36f+Vv4nyX5KJBi0eCz0he88c8vOp3jqtFgxaPeMLzQ3q4oDTTS9nwwKu+2D9N9rM09Bxb/wAAAABJRU5ErkJggg==');
}

.user-page .user-recent-updates-section {
	margin-top: 15px;
}

.user-page .user-recent-updates-section .section-title {
	margin-bottom: 15px;
}

.user-page .user-recent-updates-section .update-card {
	padding: 10px 0 15px 0;
}

.user-page .user-recent-updates-section .update-card .update-description {
	display: block;
	margin-bottom: 10px;
}

.user-page .user-recent-updates-section .update-date-span {
	display: block;
	margin-top: 10px;
}

.user-page .user-recent-updates-section .update-card .update-description a,
.user-page .user-recent-updates-section .update-card .update-description span {
	display: inline;
}

.user-page .user-recent-updates-section .update-card .update-description span {
	font-family: var(--lato-font);
	color: rgb(51, 51, 51);
	font-size: 14px;
	line-height: 16px;
}

.user-page .user-recent-updates-section .update-card .update-description a {
	color: rgb(51, 51, 51);
	font-family: var(--lato-font);
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
}

.user-page
	.user-recent-updates-section
	.update-card
	.update-description
	.rated-book-span {
	display: inline-flex;
	flex-direction: row;
}

.user-page
	.user-recent-updates-section
	.update-card
	.update-description
	.rating-stars {
	display: flex;
	flex-direction: row;
	margin-left: 3px;
}

.user-page .user-recent-updates-section .update-card.bordered {
	border-bottom: 1px solid rgb(232, 232, 232);
}

.user-page
	.user-recent-updates-section
	.update-card
	.update-description
	a:hover {
	text-decoration: underline;
}

.user-page .user-recent-updates-section .friend-profile-picture-a,
.user-page .user-recent-updates-section .friend-profile-picture-a img {
	width: 50px;
	height: 66px;
}

.user-page .user-recent-updates-section .update-book-section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.user-page
	.user-recent-updates-section
	.update-book-section
	.left-section
	.book-cover-a,
.user-page
	.user-recent-updates-section
	.update-book-section
	.left-section
	.book-cover-a
	img {
	width: 50px;
	height: 75px;
}

.user-page .user-recent-updates-section .update-book-section .left-section {
	display: flex;
	flex-direction: row;
}

.user-page
	.user-recent-updates-section
	.update-book-section
	.left-section
	.book-update-info {
	margin-left: 10px;
}

.user-page
	.user-recent-updates-section
	.update-book-section
	.left-section
	.book-update-info
	.book-authorship-span
	a {
	display: inline;
	clear: none;
}

.user-page
	.add-to-shelf-button-and-dropdown
	.book-on-reading-shelf:hover
	.shelf-pop-up-wrapper,
.user-page
	.add-to-shelf-button-and-dropdown
	.book-on-read-shelf:hover
	.shelf-pop-up-wrapper,
.user-page
	.add-to-shelf-button-and-dropdown
	.book-on-to-read-shelf:hover
	.shelf-pop-up-wrapper,
.always-visible,
.shelf-pop-up-wrapper:hover {
	display: block;
	opacity: 1;
}

.user-page .add-to-shelf-button-and-dropdown .book-on-reading-shelf,
.user-page .add-to-shelf-button-and-dropdown .book-on-read-shelf,
.user-page .add-to-shelf-button-and-dropdown .book-on-to-read-shelf {
	padding-left: 8px;
	padding-right: 0;
	background-color: rgb(242, 242, 242);
	color: rgb(24, 24, 24);
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 13px;
	height: 26px;
	width: 110px;
	border-radius: 3px 0 0 3px;
	line-height: normal;
	font-weight: 700;
	text-align: start;
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
}

.user-page .add-to-shelf-button-and-dropdown .book-on-reading-shelf > span,
.user-page .add-to-shelf-button-and-dropdown .book-on-read-shelf > span,
.user-page .add-to-shelf-button-and-dropdown .book-on-to-read-shelf > span {
	display: inline-block;
	width: 100px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-left: 4px;
}

.user-page .shelf-pop-up-top a {
	line-height: 18px;
	width: auto;
	height: auto;
}

.user-page .user-recent-updates-section .quote-area {
	border-left: 1px solid rgb(204, 204, 204);
	padding-left: 10px;
	display: flex;
	flex-direction: row;
}

.user-page .user-recent-updates-section .quote-area > a,
.user-page .user-recent-updates-section .quote-area > a img {
	width: 50px;
	height: 75px;
}

.user-page
	.user-recent-updates-section
	.quote-area
	.quote-content-and-authorship {
	margin-left: 10px;
}

.user-page
	.user-recent-updates-section
	.quote-area
	.quote-content-and-authorship
	span {
	color: rgb(24, 24, 24);
	font-family: var(--merriweather-font);
	font-size: 14px;
	line-height: 21px;
}

.user-page
	.user-recent-updates-section
	.quote-area
	.quote-content-and-authorship
	a {
	color: rgb(51, 51, 51);
	font-family: var(--lato-font);
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	margin-top: 3px;
}

.user-page
	.user-recent-updates-section
	.quote-area
	.quote-content-and-authorship
	a:hover {
	text-decoration: underline;
}

.user-page .user-recent-updates-section .author-info-section {
	display: flex;
	flex-direction: row;
}

.user-page
	.user-recent-updates-section
	.author-info-section
	.author-profile-picture-wrapper,
.user-page
	.user-recent-updates-section
	.author-info-section
	.author-profile-picture-wrapper
	img {
	width: 50px;
	height: 66px;
}

.user-page
	.user-recent-updates-section
	.author-info-section
	.author-actual-info-section {
	margin-left: 10px;
}

.user-page .user-recent-updates-section .author-info-section .author-name-span {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.user-page
	.user-recent-updates-section
	.author-info-section
	.author-name-span
	a {
	color: rgb(51, 51, 51);
	font-family: var(--lato-font);
	font-size: 15px;
	line-height: 18px;
	font-weight: bold;
}

.user-page
	.user-recent-updates-section
	.author-info-section
	.author-name-span
	a:hover,
.user-page
	.user-recent-updates-section
	.author-info-section
	.author-best-book-span
	a:hover {
	text-decoration: underline;
}

.user-page
	.user-recent-updates-section
	.author-info-section
	.author-name-span
	.goodreads-badge {
	display: block;
	margin-left: 5px;
	width: 15px;
	height: 15.6px;
	background-size: 15px 15.6px;
	background-image: url('https://s.gr-assets.com/assets/icons/gr-author-badge_20x21.png');
}

.user-page
	.user-recent-updates-section
	.author-info-section
	.author-best-book-span {
	display: block;
	margin-top: 4px;
	color: rgb(24, 24, 24);
	font-family: var(--lato-font);
	font-size: 14px;
	line-height: 18px;
}

.user-page
	.user-recent-updates-section
	.author-info-section
	.author-best-book-span
	a {
	display: inline;
	color: rgb(51, 51, 51);
	font-family: var(--lato-font);
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
}

.user-page
	.user-recent-updates-section
	.author-info-section
	.follow-author-button {
	margin-top: 10px;
	background-color: rgb(244, 241, 234);
	border: 1px solid rgb(214, 208, 196);
	border-radius: 3px;
	color: rgb(51, 51, 51);
	font-family: var(--lato-font);
	font-size: 11px;
	line-height: 11px;
	height: 21px;
}

.user-page
	.user-recent-updates-section
	.author-info-section
	.follow-author-button:hover {
	background-color: rgb(237, 230, 214);
}

.user-page .user-recent-updates-section .book-review-preview {
	display: flex;
	flex-direction: row;
}

.user-page .user-recent-updates-section .book-review-preview a,
.user-page .user-recent-updates-section .book-review-preview img {
	width: 50px;
	height: 75px;
}

.user-page .user-recent-updates-section .book-review-preview .review-text-span {
	margin-left: 10px;
	color: rgb(24, 24, 24);
	font-family: var(--lato-font);
	font-size: 14px;
	line-height: 18px;
}

.user-page-quotes-section {
	margin-top: 30px;
}

.user-page-quotes-section .section-title {
	border: none;
}

.user-page-quotes-section .user-page-quote-card {
	border-top: 1px solid rgb(216, 216, 216);
	padding: 15px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
}

.user-page-quotes-section .user-page-quote-card .left-section {
	display: flex;
	flex-direction: row;
}

.user-page-quotes-section .user-page-quote-card .left-section > a,
.user-page-quotes-section .user-page-quote-card .left-section > a img {
	width: 50px;
	height: 66px;
}

.user-page-quotes-section
	.user-page-quote-card
	.left-section
	.actual-quote-section {
	margin-left: 10px;
	display: flex;
	flex-direction: column;
}

.user-page-quotes-section
	.user-page-quote-card
	.left-section
	.actual-quote-section
	.quote-authorship,
.user-page-quotes-section
	.user-page-quote-card
	.left-section
	.actual-quote-section
	.quote-authorship
	a {
	display: inline;
	color: rgb(51, 51, 51);
	font-family: var(--lato-font);
	font-size: 14px;
	font-weight: bold;
	line-height: 21px;
}

.user-page-quotes-section
	.user-page-quote-card
	.left-section
	.actual-quote-section
	.quote-authorship
	a:hover {
	text-decoration: underline;
}

.user-page-quotes-section
	.user-page-quote-card
	.left-section
	.actual-quote-section
	.quote,
.user-page-quotes-section
	.user-page-quote-card
	.left-section
	.actual-quote-section
	.dash {
	color: rgb(24, 24, 24);
	font-family: var(--merriweather-font);
	font-size: 14px;
	line-height: 21px;
}

.user-page-quotes-section .user-page-quote-card .right-section button {
	background-color: rgb(244, 241, 234);
	border: 1px solid rgb(214, 208, 196);
	border-radius: 3px;
	color: rgb(51, 51, 51);
	font-family: var(--lato-font);
	font-size: 11px;
	line-height: 11px;
	padding: 4px 12px;
	width: 45px;
	height: 21px;
}

.user-page-quotes-section .user-page-quote-card .right-section button:hover {
	background-color: rgb(237, 230, 214);
}

.user-page-quotes-section .user-page-quote-card .right-section {
	margin-right: 50px;
}

.user-page-quotes-section
	.user-page-quote-card
	.right-section
	.number-of-likes-a {
	color: var(--goodreads-teal);
	font-family: var(--lato-font);
	font-size: 11px;
	line-height: 14px;
	position: absolute;
	bottom: 10px;
	right: 95px;
}

.user-page-quotes-section
	.user-page-quote-card
	.right-section
	.number-of-likes-a:hover,
.user-page-quote-card .right-section .quote-a:hover {
	text-decoration: underline;
}

.user-page-quote-card .right-section .quote-a {
	color: var(--goodreads-teal);
	font-family: var(--lato-font);
	font-size: 11px;
	line-height: 14px;
}

.user-page-year-in-books-section .inner-content {
	margin-top: 10px;
	display: flex;
	flex-direction: row;
}

.user-page-year-in-books-section .image-wrapper,
.user-page-year-in-books-section .image-wrapper img {
	width: 108.19px;
	height: 128px;
}

.user-page-year-in-books-section .inner-content .year-in-books-right-section {
	margin-left: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.user-page-year-in-books-section
	.inner-content
	.year-in-books-right-section
	span {
	color: rgb(24, 24, 24);
	font-family: var(--lato-font);
	font-size: 12px;
	line-height: 18px;
}

.user-page-year-in-books-section .inner-content .year-in-books-right-section a {
	font-family: var(--lato-font);
	font-size: 12px;
	line-height: 18px;
	color: var(--goodreads-teal);
}

.user-page-year-in-books-section
	.inner-content
	.year-in-books-right-section
	a:hover {
	text-decoration: underline;
}

.user-page-year-in-books-section .inner-content .year-in-books-right-section b {
	font-weight: bold;
}

.user-page-friends-section {
	margin-top: 30px;
}

.user-page-friends-section .friend-list {
	margin-top: 10px;
}

.user-page-friends-section .friend-list .friend-card {
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
}

.user-page-friends-section .friend-list .friend-card .profile-picture-wrapper,
.user-page-friends-section
	.friend-list
	.friend-card
	.profile-picture-wrapper
	img {
	width: 50px;
	height: 66px;
}

.user-page-friends-section .friend-list .friend-card .right-section {
	margin-left: 10px;
}

.user-page-friends-section .friend-list .friend-card .right-section a {
	color: var(--goodreads-teal);
	font-family: var(--lato-font);
	font-size: 12px;
	line-height: 18px;
}

.user-page-friends-section .friend-list .friend-card .right-section a:hover {
	text-decoration: underline;
}

.user-page-friends-section .friend-list .friend-card .right-section span {
	color: rgb(24, 24, 24);
	font-family: var(--lato-font);
	font-size: 12px;
	line-height: 18px;
}

.user-page-friends-section .friend-list .friend-card .right-section .separator {
	color: var(--goodreads-light-gray);
	margin: 0 3px;
}

.user-page-following-section .following-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.user-page-following-section .following-list a {
	width: 25px;
	height: 33px;
	margin: 5px 5px 5px 0;
}

.user-page-following-section .following-list img {
	width: 25px;
	height: 33px;
}

.user-page-following-section .number-of-followers-span {
	display: block;
	margin-top: 30px;
	font-family: var(--lato-font);
	font-size: 12px;
	line-height: 18px;
	color: var(--goodreads-brown);
}

.user-page-favorite-authors-section {
	margin-top: 20px;
}

.user-page-favorite-authors-section .favorite-author-list {
	margin-top: 10px;
}

.user-page-favorite-authors-section .favorite-author-card {
	padding: 10px 0;
	margin-bottom: 1px solid rgb(215, 215, 215);
	display: flex;
	flex-direction: row;
}

.user-page-favorite-authors-section .favorite-author-card .right-section {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
}

.user-page-favorite-authors-section .favorite-author-card img {
	width: 50px;
	height: 66px;
}

.user-page-favorite-authors-section .favorite-author-card .right-section span {
	color: rgb(24, 24, 24);
	font-family: var(--lato-font);
	font-size: 12px;
	line-height: 18px;
}

.user-page-favorite-authors-section .favorite-author-card .right-section a {
	display: inline;
	color: var(--goodreads-teal);
	font-family: var(--lato-font);
	font-size: 12px;
	line-height: 18px;
}

.user-page-favorite-authors-section
	.favorite-author-card
	.right-section
	a:hover {
	text-decoration: underline;
}

.user-page-listopia-section {
	position: relative;
}

.user-page-listopia-section .lists-list {
	margin-top: 10px;
}

.user-page-listopia-section .lists-list .list-card {
	margin-top: 10px;
}

.user-page-listopia-section .lists-list .list-card .covers {
	display: flex;
	flex-direction: row;
}

.user-page-listopia-section .lists-list .list-card .covers img {
	width: 55px;
	height: 80px;
	margin-right: 2px;
}

.user-page-listopia-section .lists-list .list-card .list-title-a {
	margin-top: 5px;
	color: var(--goodreads-teal);
	font-family: var(--lato-font);
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
}

.user-page-listopia-section .lists-list .list-card .list-title-a:hover {
	text-decoration: underline;
}

.user-page-listopia-section .lists-list .list-card .list-stats-span {
	color: var(--goodreads-light-gray);
	font-family: var(--lato-font);
	font-size: 12px;
	line-height: 18px;
}

.user-page-listopia-section .more-lists-a {
	position: absolute;
	right: 0;
	color: var(--goodreads-teal);
	font-family: var(--lato-font);
	font-size: 13px;
	font-weight: bold;
	line-height: 18px;
}

.user-page-listopia-section .more-lists-a:hover {
	text-decoration: underline;
}

.user-page-favorite-genres-section {
	margin-top: 60px;
}

.user-page-favorite-genres-section .favorite-genres-span {
	display: block;
	margin-top: 10px;
	color: rgb(24, 24, 24);
	font-family: var(--lato-font);
	font-size: 12px;
	line-height: 18px;
}

.user-page-favorite-genres-section .favorite-genres-span a {
	color: var(--goodreads-teal);
	display: inline;
	line-height: 18px;
}

.user-page-favorite-genres-section .favorite-genres-span a:hover,
.user-page-main-content-right-section-bottom-links a:hover {
	text-decoration: underline;
}

.user-page-main-content-right-section-bottom-links {
	margin-top: 50px;
}

.user-page-main-content-right-section-bottom-links a {
	color: var(--goodreads-teal);
	font-family: var(--lato-font);
	font-size: 12px;
	line-height: 18px;
}

.user-page .more-dropdown {
	position: absolute;
	top: 25px;
	width: 200px;
	border: 1px solid rgb(216, 216, 216);
	box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 10px 0px;
	background-color: rgb(255, 255, 255);
}

.user-page .more-dropdown li {
	display: block;
	width: 176px;
	padding: 12px;
	color: rgb(0, 0, 0);
	font-family: var(--lato-font);
	font-size: 14px;
	line-height: 18px;
	margin: 0;
}

.user-page .more-dropdown li a {
	color: rgb(0, 0, 0);
	font-family: var(--lato-font);
	font-size: 14px;
	padding: 0;
	line-height: 18px;
	height: auto;
	text-align: left;
}

.user-page .more-dropdown li a:hover {
	text-decoration: underline;
}

.user-page .dark-page-cover,
.user-page .user-page-unfollow-user-modal {
	display: none;
}

.user-page .user-page-unfollow-user-modal {
	border-radius: 4px;
	border: 1px solid rgb(0, 0, 0);
}

.user-page .user-page-unfollow-user-modal.visible .close-button {
	position: absolute;
	top: 10px;
	right: 0;
	width: 13px;
	height: 15px;
	background-image: url('http://s.gr-assets.com/assets/gr/icons/icon_close-63734f04e7baaa77fbad796225e5724c.svg');
	background-repeat: no-repeat;
	background-color: transparent;
}

.user-page .user-page-unfollow-user-modal h1 {
	color: rgb(51, 51, 51);
	font-family: var(--merriweather-font);
	font-size: 22px;
	font-weight: bold;
	line-height: 27px;
}

.user-page .user-page-unfollow-user-modal span {
	display: block;
	margin-top: 20px;
	color: rgb(24, 24, 24);
	font-family: var(--lato-font);
	font-size: 16px;
	line-height: 18px;
}

.user-page .user-page-unfollow-user-modal .buttons {
	display: flex;
	flex-direction: row;
	margin-top: 40px;
}

.user-page .user-page-unfollow-user-modal .buttons .confirm-button {
	width: 107px;
	height: 42px;
	padding: 12px 24px;
	border-radius: 3px;
	background-color: var(--goodreads-brown);
	border: 1px solid rgb(56, 33, 16);
	color: rgb(255, 255, 255);
	font-family: var(--lato-font);
	font-size: 16px;
	line-height: 16px;
}

.user-page .user-page-unfollow-user-modal .buttons .confirm-button:hover {
	background-color: rgb(88, 55, 31);
}

.user-page .user-page-unfollow-user-modal .buttons .cancel-button {
	width: 97px;
	height: 42px;
	padding: 12px 24px;
	background-color: rgb(244, 241, 234);
	border: 1px solid rgb(214, 208, 196);
	border-radius: 3px;
	color: rgb(51, 51, 51);
	font-family: var(--lato-font);
	font-size: 16px;
	line-height: 16px;
	margin-left: 20px;
}

.user-page .user-page-unfollow-user-modal .buttons .cancel-button:hover {
	background-color: rgb(237, 230, 214);
}

.user-page .dark-page-cover.visible {
	display: block;
	position: absolute;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 11;
}

.user-page .user-page-unfollow-user-modal.visible {
	display: block;
	position: absolute;
	width: 584px;
	padding: 32px;
	top: 120px;
	left: calc(50% - 325px);
	background-color: rgb(255, 255, 255);
	z-index: 12;
}

.user-page.disabled-scrolling {
	height: 100vh;
	overflow: hidden;
}

.user-page #loadingSpinner {
	left: 0;
	top: 5px;
}

.user-page .user-ratings-chart {
	display: none;
}

.user-page .user-ratings-chart.visible {
	display: block;
}
