@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.user-bookshelf-page-main-content {
	margin: 15px 155px;
	min-height: 65vh;
}

.user-bookshelf-page-main-content a {
	padding: 0;
	height: auto;
	background-color: transparent;
}

.user-bookshelf-page-shelves-top-bar {
	display: block;
	width: 100%;
	border-bottom: 1px solid rgb(235, 232, 213);
	overflow: hidden;
}

.user-bookshelf-page-shelves-top-bar .left-section {
	display: block;
	float: left;
}

.user-bookshelf-page-shelves-top-bar .left-section h1 {
	color: var(--goodreads-brown);
	display: flex;
	flex-direction: row;
	align-items: center;
	font-family: var(--merriweather-font);
	font-size: 20px;
	font-weight: bold;
	line-height: 26px;
}

.user-bookshelf-page-shelves-top-bar .left-section h1 a {
	color: var(--goodreads-teal);
	line-height: 26px;
}

.user-bookshelf-page-shelves-top-bar .left-section h1 .separator {
	margin: 0 10px;
}

.user-bookshelf-page-shelves-top-bar .left-section h1 a:hover {
	text-decoration: underline;
}

.user-bookshelf-page-shelves-top-bar .left-section h1 .profile-picture-a img {
	width: 15px;
	height: 20px;
	margin-right: 10px;
}

.user-bookshelf-page-shelves-top-bar .shelf-selection-indicator {
	background-color: rgb(244, 244, 234);
	display: flex;
	flex-direction: row;
	height: 22px;
	border-radius: 5px;
	overflow: hidden;
	margin-left: 7px;
}

.user-bookshelf-page-shelves-top-bar .shelf-selection-indicator > span {
	padding: 2px 0 2px 5px;
	display: block;
	font-size: 16.67px;
	line-height: 21px;
}

.user-bookshelf-page-shelves-top-bar .shelf-selection-indicator-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.user-bookshelf-page-shelves-top-bar
	.shelf-selection-indicator-wrapper
	span.shelf-separator-span {
	color: var(--goodreads-light-gray);
	font-family: var(--lato-font);
	font-size: 12px;
	font-weight: bold;
	line-height: 13px;
	margin-left: 6px;
}

.user-bookshelf-page-shelves-top-bar
	.shelf-selection-indicator
	> span
	.shelf-number-span {
	color: rgb(153, 153, 153);
}

.user-bookshelf-page-shelves-top-bar .shelf-selection-indicator .deselect-a {
	padding: 2px 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgb(233, 229, 211);
}

.user-bookshelf-page-shelves-top-bar
	.shelf-selection-indicator
	.deselect-a:hover {
	background-color: rgb(233, 225, 194);
}

.user-bookshelf-page-shelves-top-bar .right-section {
	float: right;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-bottom: 2px;
}

.user-bookshelf-page-shelves-top-bar .right-section .search-bar-container {
	position: relative;
	margin-right: 15px;
}

.user-bookshelf-page-shelves-top-bar .right-section input {
	padding: 4px 30px 5px 4px;
	width: 155px;
	height: 15px;
	border: 1px solid rgb(220, 214, 204);
	border-radius: 3px;
	color: rgb(51, 51, 51);
	font-family: var(--lato-font);
	font-size: 12px;
}

.user-bookshelf-page-shelves-top-bar .right-section input:focus {
	border-color: rgb(185, 173, 153);
	box-shadow: rgba(185, 173, 153, 0.5) 0px 0px 4px 0px;
}

.user-bookshelf-page-shelves-top-bar
	.right-section
	.search-bar-container
	.search-magnifying-glass-a
	img {
	width: 16px;
	height: 16px;
}

.user-bookshelf-page-shelves-top-bar
	.right-section
	.search-bar-container
	.search-magnifying-glass-a {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 5px;
	right: 5px;
}

.user-bookshelf-page-shelves-top-bar .right-section .compare-books-a {
	height: 18px;
}

.user-bookshelf-page-shelves-top-bar .right-section .compare-books-a,
.user-bookshelf-page-shelves-top-bar
	.right-section
	button.settings-toggle-button {
	padding: 5px 5px 10px 5px;
	color: var(--goodreads-teal);
	font-family: var(--lato-font);
	font-size: 12px;
	line-height: 18px;
	background-color: transparent;
}

.user-bookshelf-page-shelves-top-bar
	.right-section
	button.settings-toggle-button {
	height: 33px;
	margin: 0 5px;
}

.user-bookshelf-page-shelves-top-bar .right-section .compare-books-a:hover,
.user-bookshelf-page-shelves-top-bar
	.right-section
	button.settings-toggle-button:hover {
	text-decoration: underline;
}

.user-bookshelf-page-shelves-top-bar
	.right-section
	button.settings-toggle-button.toggled {
	background-color: rgb(241, 241, 228);
	border-left: 1px solid rgb(204, 201, 181);
	border-right: 1px solid rgb(204, 201, 181);
	border-top: 1px solid rgb(204, 201, 181);
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.user-bookshelf-page-shelves-top-bar .right-section span.separator {
	color: var(--goodreads-light-gray);
	font-family: var(--lato-font);
	font-size: 12px;
	line-height: 18px;
	margin: 0 5px;
}

.user-bookshelf-page-shelves-top-bar .right-section .view-type-a {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 23px;
	margin-left: 5px;
}

.user-bookshelf-page-bookshelf-navigation-section {
	margin-top: 10px;
	margin-right: 20px;
}

.user-bookshelf-page-bookshelf-navigation-section .title-span {
	color: rgb(24, 24, 24);
	font-family: var(--lato-font);
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
}

.user-bookshelf-page-bookshelf-navigation-section li {
	padding: 0;
	margin-bottom: 3px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.user-bookshelf-page-bookshelf-navigation-section a {
	color: var(--goodreads-teal);
	font-family: var(--lato-font);
	font-size: 14px;
	line-height: 18px;
}

.user-bookshelf-page-bookshelf-navigation-section a:hover {
	text-decoration: underline;
}

.user-bookshelf-page-bookshelf-navigation-section li .add-shelf-a {
	color: var(--goodreads-light-gray);
}

.user-bookshelf-page-bookshelf-navigation-section a.selected-shelf {
	color: rgb(119, 119, 119);
}

.user-bookshelf-page-bookshelf-navigation-section .shelf-group-separator {
	width: 180px;
	height: 1px;
	background-color: rgb(216, 216, 216);
	margin: 7px 0;
}

.user-bookshelf-page-bookshelf-navigation-section
	.select-multiple-shelves-button {
	color: var(--goodreads-teal);
	font-family: var(--lato-font);
	font-size: 13px;
	font-weight: bold;
	line-height: 18px;
	background-color: transparent;
	padding: 0;
	margin: 10px 0;
}

.user-bookshelf-page-bookshelf-navigation-section
	.select-multiple-shelves-button:hover {
	text-decoration: underline;
}

.user-bookshelf-page-main-content-bottom-section {
	display: flex;
	flex-direction: row;
}

.user-bookshelf-page-books-table {
	max-width: none;
	min-width: 770px;
}

.user-bookshelf-page-books-table tbody td {
	padding: 12px 5px 5px 0;
	vertical-align: top;
}

.user-bookshelf-page-books-table tbody .no-matching-items-tr {
	border: none;
	width: 100%;
}

.user-bookshelf-page-books-table tbody .no-matching-items-tr td {
	text-align: center;
	margin-left: 50px;
}

.user-bookshelf-page-books-table tbody .no-matching-items-tr td span {
	padding: 20px;
	color: var(--goodreads-light-gray);
	font-family: var(--lato-font);
	font-size: 14px;
	line-height: 18px;
}

.user-bookshelf-page-books-table td img {
	width: 50px;
	height: 78px;
}

.user-bookshelf-page-books-table td .rating-stars {
	display: flex;
	flex-direction: row;
}

.user-bookshelf-page-books-table td span {
	color: rgb(24, 24, 24);
	font-family: var(--lato-font);
	font-size: 14px;
	line-height: 18px;
}

.user-bookshelf-page-books-table td span.no-date-span,
.user-bookshelf-page-books-table td span.no-review-span {
	color: var(--goodreads-light-gray);
}

.user-bookshelf-page-books-table .book-title-a,
.user-bookshelf-page-books-table .author-a {
	font-family: var(--lato-font);
	font-size: 14px;
	line-height: 18px;
	color: var(--goodreads-teal);
}

.user-bookshelf-page-books-table .book-title-a:hover,
.user-bookshelf-page-books-table .author-a:hover {
	text-decoration: underline;
}

.user-bookshelf-page-books-table .book-title-a .book-title-proper {
	color: var(--goodreads-teal);
}

.user-bookshelf-page-books-table .book-title-a .book-series-span {
	color: rgb(119, 119, 119);
}

.user-bookshelf-page-books-table thead {
	border-bottom: 2px solid rgb(235, 232, 213);
}

.user-bookshelf-page-books-table thead th {
	vertical-align: bottom;
	cursor: pointer;
	text-align: left;
	padding: 12px 5px 5px 0;
	color: var(--goodreads-brown);
	font-family: var(--lato-font);
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
}

.user-bookshelf-page-books-table thead th:hover {
	text-decoration: underline;
}

.user-bookshelf-page-books-table thead th img {
	margin-left: 3px;
}

.user-bookshelf-page-books-table thead .my-rating-th {
	cursor: default;
}

.user-bookshelf-page-books-table thead th.my-rating-th:hover {
	text-decoration: none;
}

.user-bookshelf-page-books-table .add-to-shelves-button {
	color: var(--goodreads-teal);
	font-family: var(--lato-font);
	font-size: 11px;
	line-height: 14px;
	background-color: transparent;
	padding: 0;
	margin-top: 5px;
}

.user-bookshelf-page-books-table .add-to-shelves-button:hover {
	text-decoration: underline;
}

.user-bookshelf-page-books-table tbody tr {
	border-bottom: 1px solid rgb(238, 238, 238);
}

.user-bookshelf-page-table-parameters-section {
	display: flex;
	flex-direction: row;
	margin-bottom: 25px;
	margin-top: 10px;
}

.user-bookshelf-page-table-parameters-section select {
	font-size: 11px;
	margin-left: 10px;
}

.user-bookshelf-page-table-parameters-section input[type='radio'] {
	width: 12px;
	height: 12px;
}

.user-bookshelf-page-table-parameters-section label {
	font-family: var(--lato-font);
	font-size: 14px;
	line-height: 28px;
}

.user-bookshelf-page-table-parameters-section label[for='sort'] {
	margin-left: 10px;
}

.user-bookshelf-page-table-parameters-section .sort-order-parameter {
	margin-left: 10px;
}

.user-bookshelf-page-table-parameters-section .sort-order-parameter label {
	color: rgb(24, 24, 24);
	margin-left: 5px;
	margin-right: 10px;
}

.user-bookshelf-page-settings-tab {
	width: 750px;
	position: relative;
	background-color: rgb(241, 241, 228);
	padding: 10px;
	height: 144px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-top: 1px solid rgb(204, 201, 181);
	border-bottom: 1px solid rgb(204, 201, 181);
}

.user-bookshelf-page-settings-tab button {
	font-family: var(--lato-font);
	color: var(--goodreads-teal);
	padding: 0;
	height: auto;
	background-color: transparent;
}

.user-bookshelf-page-settings-tab button:hover {
	text-decoration: underline;
}

.user-bookshelf-page-settings-tab b {
	font-weight: bold;
}

.user-bookshelf-page-settings-tab .settings-title {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 3px;
}

.user-bookshelf-page-settings-tab .settings-title span {
	color: rgb(24, 24, 24);
	font-family: var(--lato-font);
	font-size: 12px;
	font-weight: bold;
}

.user-bookshelf-page-settings-tab .settings-title button {
	font-size: 11px;
	font-weight: bold;
	line-height: 14px;
	margin-left: 3px;
}

.user-bookshelf-page-settings-tab .gray-settings-message {
	color: var(--goodreads-light-gray);
	font-family: var(--lato-font);
	font-size: 12px;
	line-height: 18px;
}

.user-bookshelf-page-settings-tab .column-checkboxes {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-height: 100px;
}

.user-bookshelf-page-settings-tab .column-checkboxes label {
	color: rgb(24, 24, 24);
	font-family: var(--lato-font);
	font-size: 12px;
	line-height: 18px;
	margin-right: 10px;
}

.user-bookshelf-page-settings-tab .column-sets-title {
	font-family: var(--lato-font);
	font-size: 12px;
	line-height: 18px;
}

.user-bookshelf-page-settings-tab .column-set-button {
	color: var(--goodreads-teal);
	font-size: 12px;
	font-family: var(--lato-font);
	line-height: 18px;
}

.user-bookshelf-page-settings-tab .column-set-button.selected {
	position: relative;
	font-weight: bold;
	text-decoration: none;
}

.user-bookshelf-page-settings-tab .column-set-button.selected::before {
	position: absolute;
	left: -10px;
	color: rgb(192, 188, 165);
	display: block;
	content: '〉';
	width: 12px;
	height: 18px;
}

.user-bookshelf-page-settings-tab .settings-tab-close-button {
	position: absolute;
	bottom: 10px;
	right: 10px;
	color: var(--goodreads-light-gray);
	font-family: var(--lato-font);
	font-size: 11px;
	line-height: 14px;
}
