.search-page #homepage-footbar {
	margin-top: 60px;
}

.search-page-main-content {
	padding: 20px 160px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	min-height: 60vh;
}

.search-page-main-content a {
	line-height: normal;
	background-color: transparent;
}

.search-page-main-content .page-title-span {
	display: block;
	color: var(--goodreads-brown);
	font-size: 20px;
	font-family: var(--merriweather-font);
	font-weight: bold;
	line-height: 24px;
	margin-bottom: 15px;
}

.search-page-main-content-left-section {
	position: relative;
	width: 67%;
}

.search-page-main-content .search-area {
	width: calc(100% - 20px);
	background-color: rgb(238, 238, 238);
	border-radius: 4px;
	padding: 10px;
}

.search-page-main-content .search-area .input-and-button {
	display: flex;
	flex-direction: row;
}

.search-page-main-content .search-area .input-and-button input {
	width: 75%;
	font-size: 14px;
	padding: 5px;
	font-family: var(--lato-font);
	border: 1px solid rgb(220, 214, 204);
	border-radius: 3px;
	line-height: normal;
	color: var(--goodreads-black);
	margin-right: 5px;
	height: fit-content;
}

.search-page-main-content .search-area .input-and-button input:focus {
	border-color: rgb(185, 173, 153);
	box-shadow: 0 0 4px rgba(185, 173, 153, 0.5);
}

.search-page-main-content .search-area .input-and-button a,
.search-page-main-content
	.book-results-section
	.book-result-card
	.right-section
	.get-a-copy-a {
	padding: 8px 12px;
	border: 1px solid rgb(220, 208, 196);
	background-color: rgb(244, 241, 234);
	color: var(--goodreads-black);
	line-height: 1;
	font-size: 14px;
	margin-top: 2px;
	border-radius: 3px;
}

.search-page-main-content .search-area .input-and-button a:hover,
.search-page-main-content
	.book-results-section
	.book-result-card
	.right-section
	.get-a-copy-a:hover {
	background-color: rgb(237, 230, 214);
	text-decoration: none;
}

.search-page-main-content
	.book-results-section
	.book-result-card
	.right-section
	.get-a-copy-a {
	padding: 5px 18px;
}

.search-page-main-content .search-area .radio-inputs {
	margin-top: 15px;
	display: flex;
	flex-direction: row;
}

.search-page-main-content .search-area .radio-inputs > div {
	margin-right: 5px;
}

.search-page-main-content .search-area .radio-inputs input {
	height: 12px;
}

.search-page-main-content .search-area .radio-inputs label {
	line-height: 12px;
	color: rgb(24, 24, 24);
	font-size: 12px;
	margin-left: 3px;
}

.search-page-main-content .search-page-navigation-tabs-section {
	width: calc(100% - 6px);
	margin-top: 25px;
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid rgb(216, 216, 216);
	padding: 0 4px;
}

.search-page-main-content .search-page-navigation-tabs-section > a.disabled {
	pointer-events: none;
	border-bottom: 2px solid rgb(0, 0, 0);
}

.search-page-main-content .search-page-navigation-tabs-section > a {
	font-family: var(--lato-font);
	color: var(--goodreads-brown);
	font-size: 14px;
	padding: 5px 10px;
	line-height: 18px;
	margin-right: 6px;
}

.search-page .page-navigation-section {
	display: flex;
	flex-direction: row;
	position: absolute;
	right: 0;
}

.search-page .page-navigation-section button {
	display: inline;
	padding: 0;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 18px;
	height: auto;
	color: rgb(0, 99, 93);
	margin-right: 3px;
}

.search-page .page-navigation-section button:hover {
	background-color: transparent;
	text-decoration: underline;
}

.search-page .page-navigation-section button:disabled {
	color: rgb(24, 24, 24);
}

.search-page .page-navigation-section button:disabled:hover {
	text-decoration: none;
}

.search-page-main-content .total-results-span {
	display: block;
	margin-top: 30px;
	border-bottom: 2px solid rgb(215, 215, 215);
	color: var(--goodreads-brown);
	font-family: var(--lato-font);
	font-size: 14px;
	line-height: 18px;
	padding: 3px 0;
}

.search-page-main-content .book-results-section .genre-result span,
.search-page-main-content .book-results-section .genre-result a {
	display: inline;
	padding: 0;
}

.search-page-main-content .book-results-section .genre-result a {
	text-transform: capitalize;
	color: var(--goodreads-teal);
	font-family: var(--lato-font);
	font-size: 13px;
	font-weight: bold;
}

.search-page-main-content .book-results-section .genre-result a:hover {
	text-decoration: underline;
}

.search-page-main-content .book-results-section .genre-result > span {
	display: block;
	margin-top: 20px;
	color: rgb(153, 153, 153);
	font-size: 12px;
	font-family: var(--lato-font);
}

.search-page-main-content .book-results-section .search-unavailable-section {
	margin-top: 3px;
}

.search-page-main-content
	.book-results-section
	.search-unavailable-section
	span {
	display: block;
	font-family: var(--lato-font);
	color: rgb(255, 0, 0);
	font-size: 14px;
	line-height: 18px;
}

.search-page-main-content-right-section {
	margin-left: 20px;
	width: 30%;
}

.search-page-main-content-right-section .top-anchors a {
	padding: 0;
	font-family: var(--lato-font);
	font-size: 12px;
	line-height: 18px;
	color: var(--goodreads-teal);
	width: auto;
}

.search-page-main-content-right-section .top-anchors a:hover {
	text-decoration: underline;
}

.search-page-main-content-right-section .top-shelves-area {
	width: 100%;
	margin-top: 70px;
}

.search-page-main-content-right-section .top-shelves-area .genre-shelf-span {
	display: block;
	color: rgb(153, 153, 153);
	font-family: var(--lato-font);
	font-size: 11px;
	line-height: 14px;
	margin-top: 4px;
}

.search-page-main-content-right-section .top-shelves-area a {
	display: inline;
	padding: 0;
	font-family: var(--lato-font);
	font-size: 13px;
	line-height: 18px;
	color: var(--goodreads-teal);
}

.search-page-main-content-right-section .top-shelves-area a:hover {
	text-decoration: underline;
}

.search-page-main-content-right-section
	.top-shelves-area
	.top-shelves-area-title {
	display: block;
	width: 100%;
	text-transform: uppercase;
	color: var(--goodreads-brown);
	font-family: var(--lato-font);
	font-size: 12px;
	line-height: 18px;
	font-weight: bold;
	padding: 7px 0;
	border-bottom: 1px solid rgb(216, 216, 216);
	margin-bottom: 7px;
}

.search-page-main-content .people-results-section .person-result-card {
	display: flex;
	flex-direction: row;
	padding: 10px;
	border-bottom: 1px solid rgb(232, 232, 232);
}

.search-page-main-content .people-results-section .person-result-card a {
	padding: 0;
}

.search-page-main-content
	.people-results-section
	.person-result-card
	.right-section {
	margin-left: 10px;
}

.search-page-main-content
	.people-results-section
	.person-result-card
	.right-section
	a {
	font-family: var(--lato-font);
	font-size: 12px;
	line-height: 18px;
	color: var(--goodreads-teal);
	width: auto;
	height: auto;
}

.search-page-main-content
	.people-results-section
	.person-result-card
	.right-section
	a:hover {
	text-decoration: underline;
}

.search-page-main-content .people-results-section .people-list img {
	width: 50px;
}

.search-page-main-content .people-results-section .people-list {
	margin-bottom: 15px;
}

.search-page-main-content
	.people-results-section
	.person-result-card
	.right-section
	.location-span {
	font-family: var(--lato-font);
	line-height: 18px;
	font-size: 12px;
}

.search-page-main-content .book-results-section .book-result-card {
	display: flex;
	flex-direction: row;
	padding: 10px;
}

.search-page-main-content .book-results-section .book-result-card a {
	padding: 0;
	width: fit-content;
	height: auto;
}

.search-page-main-content .book-results-section .book-result-card img {
	width: 50px;
}

.search-page-main-content
	.book-results-section
	.book-result-card
	.right-section {
	margin-left: 10px;
}

.search-page-main-content
	.book-results-section
	.book-result-card
	.right-section
	.book-title-a {
	color: var(--goodreads-black);
	font-family: var(--merriweather-font);
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
}

.search-page-main-content
	.book-results-section
	.book-result-card
	.right-section
	a:hover {
	text-decoration: underline;
}

.search-page-main-content
	.book-results-section
	.book-result-card
	.right-section
	.authorship-span {
	display: block;
	font-family: var(--lato-font);
	font-size: 13px;
	color: rgb(0, 0, 0);
	margin-top: 3px;
}

.search-page-main-content
	.book-results-section
	.book-result-card
	.right-section
	.authorship-span
	a {
	display: inline;
	color: var(--goodreads-black);
	font-family: var(--merriweather-font);
	font-size: 12px;
}

.search-page-main-content
	.book-results-section
	.book-result-card
	.right-section
	.other-info-section,
.search-page-main-content .search-page-general-rating-stars {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.search-page-main-content
	.book-results-section
	.book-result-card
	.right-section
	.other-info-section {
	margin-top: 5px;
}

.search-page-main-content
	.book-results-section
	.book-result-card
	.right-section
	.other-info-section
	span,
.search-page-main-content
	.book-results-section
	.book-result-card
	.right-section
	.other-info-section
	a {
	display: inline;
	color: rgb(153, 153, 153);
	font-family: var(--lato-font);
	font-size: 11px;
}

.search-page-main-content
	.book-results-section
	.book-result-card
	.read-buy-section {
	display: flex;
	flex-direction: row;
	margin-top: 3px;
}

.search-page-main-content
	.book-results-section
	.book-result-card
	.read-buy-section
	.get-a-copy-a {
	height: fit-content;
	margin-left: 5px;
}

.search-page-main-content
	.book-results-section
	.book-result-card
	.read-buy-section
	.want-to-read-button-and-options {
	margin: 0;
}

.search-page .interactive-star {
	cursor: pointer;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAQAAACROWYpAAABaUlEQVR4AZ3UtaLUQBgF4MGlxd31JfAH2BfYckvcHSqc6+7ubs31+ipwzgT3BocOm3XfSTY5fzP2xSfCLM/2PtsrnIbXeM05fsRHDqmxGwrK2O0Iy8t+LC87wpzxY844oTuhgsWd9vHFCL5oG2MqjDFlkz7fDhWt59ttYZ6PxTyvuzw3s1iAUlShga3s5gCHMI4vsdjXG+cQB9jNVjSgCqUsYBbc4uNS1kPZL9Z/XCr84Sn+tQX/8lTsp3iIn9Omn41DIj4vN2EyLTz5cpNIzrslqLak1e+WCF1wHH+08A+OW31ZR7T4iLAK9+sw91ti3NZh3LbEfKTDlr+k5xug9PV8gymmJ3axzJW5sX16TDE6Iku/whUYceFrZKzDhKqF+BVaNv58Q8ytjIdGf6mFWmwc8i/hP3lTzYsdV/PkTf7zzxmHtJj3ofiB+1O/f36A4n0tBthtLNde13J2Azq6Rh4TFpHHsCba8wIHb2XVGoaSPQAAAABJRU5ErkJggg==');
	background-repeat: no-repeat;
}

.search-page .interactive-star.small {
	background-size: 15px 15px;
	width: 15px;
	height: 15px;
}

.search-page .interactive-star.big {
	background-size: 30px 30px;
	width: 30px;
	height: 30px;
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxuczpza2V0Y2g9Imh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaC9ucyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBoZWlnaHQ9IjE1cHgiIHdpZHRoPSIxNXB4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgMTUgMTUiPjwhLS0gR2VuZXJhdG9yOiBTa2V0Y2ggMy40LjEgKDE1NjgxKSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4KIDx0aXRsZT5nci1zdGFyLWVtcHR5PC90aXRsZT4KIDxnIGlkPSJBc3NldHMiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc2tldGNoOnR5cGU9Ik1TUGFnZSIgZmlsbD0ibm9uZSI+CiAgPHBvbHlnb24gaWQ9IlN0YXItMTAtQ29weS02IiBza2V0Y2g6dHlwZT0iTVNTaGFwZUdyb3VwIiBwb2ludHM9IjcuNSAxMS42MDkgMi44NjQ3IDE1IDQuNSA5LjMxNjcgNC4zNTY2ZS0xNiA1LjcyOTUgNS42NDU5IDUuNjA4NSA3LjUgMCA5LjM1NDEgNS42MDg1IDE1IDUuNzI5NSAxMC41IDkuMzE2NyAxMi4xMzUgMTUiIGZpbGw9IiNENkQ2RDYiLz4KIDwvZz4KPC9zdmc+Cg==');
}

.search-page .interactive-star.big.on {
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxuczpza2V0Y2g9Imh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaC9ucyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBoZWlnaHQ9IjE1cHgiIHdpZHRoPSIxNXB4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgMTUgMTUiPjwhLS0gR2VuZXJhdG9yOiBTa2V0Y2ggMy40LjEgKDE1NjgxKSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4KIDx0aXRsZT5nci1zdGFyLXlvdXItcmF0aW5nPC90aXRsZT4KIDxnIGlkPSJBc3NldHMiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc2tldGNoOnR5cGU9Ik1TUGFnZSIgZmlsbD0ibm9uZSI+CiAgPHBvbHlnb24gaWQ9IlN0YXItMTAtQ29weS03IiBza2V0Y2g6dHlwZT0iTVNTaGFwZUdyb3VwIiBwb2ludHM9IjcuNSAxMS42MDkgMi44NjQ3IDE1IDQuNSA5LjMxNjcgMS4xNjE4ZS0xNCA1LjcyOTUgNS42NDU5IDUuNjA4NSA3LjUgMCA5LjM1NDEgNS42MDg1IDE1IDUuNzI5NSAxMC41IDkuMzE2NyAxMi4xMzUgMTUiIGZpbGw9IiNGNkE2MjMiLz4KIDwvZz4KPC9zdmc+Cg==');
}

.search-page .interactive-star.on {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAABwElEQVR4Ab2WNbDVQBSGg0uLu+y5wUoqKrxHW0pK3B0q3N11N7hLg9e49A0VLrsXD/lmeK7RnVk95/+/3Mh5z0vafpyRoXSv6FY2spJeONga9YJeKPTHOX+w1Sqksy7wNpeWVYBZF3mbn1WAWRcC/R4M9iugFZ2zIt7mJbXBnOUOtlqe1AZzlu9tPqMEUH2dWG7gciCLGgITi2mmprmgtL2s1V5r5JAzcjzqgTPqfLS/arXcclruOK0eRvv3DYGJkUMuGrR44IUn3jBgwfTCq8M7RgKDuIgOC6ZX0aKDuc6o33kB8YbRwKfij7Va3mUNxRPvxp/5+SH9rJHHWUHxwtNrTgvPjOjgjJxIC8UDLy9uc1pmReJfCYC/0KYrGro0Pi4YTRa1eVRcMJrUYBeodXHBaDL5FycuGE0qqDOqT4qC0Sf5rw3U9IZLn+yiNxRHm+IXy6V6TD8440+syGHNWe08tImg4ZlhbSPx11oF/mF9t5AzYrXAX/GIDaa2VgP+sUatCc9MbdVQPjFyyK3Q4ZGkam36f+Vv4nyX5KJBi0eCz0he88c8vOp3jqtFgxaPeMLzQ3q4oDTTS9nwwKu+2D9N9rM09Bxb/wAAAABJRU5ErkJggg==');
}

.search-page .goodreads-member-span {
	color: rgb(153, 153, 153);
	font-family: var(--lato-font);
	font-size: 12px;
	line-height: 18px;
}
