html,
body,
#root,
.App {
	margin: 0;
	width: 100%;
	height: 100%;
}

#root {
	--goodreads-black: rgb(51, 51, 51);
	--goodreads-teal: rgb(0, 99, 93);
	--goodreads-brown: rgb(56, 33, 16);
	--goodreads-light-gray: rgb(153, 153, 153);
	--merriweather-font: 'Merriweather', Georgia, 'Times New Roman', serif;
	--lato-font: 'Lato', Helvetica, Arial, sans-serif;
}

.goodreads-button {
	color: var(--goodreads-black);
	border-radius: 3px;
	border: 1px solid rgb(216, 210, 198);
	background-color: rgb(244, 241, 234);
	font-family: var(--lato-font);
	font-size: 14px;
	line-height: 14px;
	padding: 8px 12px;
	width: fit-content !important;
}

.goodreads-button:hover {
	background-color: rgb(237, 230, 214);
	color: inherit;
}
