#forgot-password-not-a-member {
	position: absolute;
	top: 30px;
	right: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

#forgot-password-page .sign-in-up-page-main-card-top h2 {
	font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: rgb(51, 51, 51);
	margin: 25px 0;
}

#forgot-password-not-a-member span {
	color: rgb(51, 51, 51);
	font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	margin-right: 10px;
}

#forgot-password-not-a-member a {
	font-family: Lato, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
	padding: 8px 12px;
	height: 14px;
	line-height: 14px;
}

#forgot-password-not-a-member a:hover {
	background-color: rgb(237, 230, 214);
}

#forgot-password-page input {
	margin-bottom: 0px;
}

#forgot-password-page .sign-in-up-page-main-card-center-bottom-buttons {
	margin-top: 0px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
}

#forgot-password-page
	.sign-in-up-page-main-card-center-bottom-buttons
	.sign-in-up-page-sign-in {
	height: 30px;
	padding: 8px 12px;
	font-size: 14px;
	line-height: 14px;
}
