#homepage-bottom-section {
	margin-top: 20px;
	background-color: white;
	padding: 0px 175px;
	display: flex;
	flex-direction: row;
}

.left-section h2,
.right-section h2,
.homepage-search-section h2 {
	font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 18px;
	margin-bottom: 20px;
}

.homepage-search-section h2 {
	margin-top: 30px;
	margin-bottom: 15px;
}

#homepage-bottom-section-main {
	width: 585px;
}

#homepage-bottom-section-main .intro {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.intro {
	margin-bottom: 30px;
}

.intro .left-section,
.intro .right-section {
	width: 280px;
}

.intro .left-section span,
.intro .right-section span {
	font-family: Lato, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
	color: rgb(51, 51, 51);
}

.discovery-left-section {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.discovery-box {
	background-color: #f4f2e9;
	border-radius: 10px;
	padding-top: 15px;
	padding-bottom: 20px;
}

.discovery-box h2 {
	font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 18px;
	margin-left: 15px;
	margin-bottom: 20px;
}

.discovery-box span {
	color: rgb(24, 24, 24);
	font-size: 12px;
	font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.discovery {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAoCAYAAAA%2FtpB3AAAAOElEQVQIW2M6uG%2FlfyZGRkYGdIIBCKAsRgYMWXSCAU5gUYzVAAaELA5tCHUQAxjQZIFir16%2FhXAByw8GmnhQCm8AAAAASUVORK5CYII%3D');
	background-position-y: bottom;
	background-repeat: repeat-x;
	height: 180px;
	padding-left: 15px;
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.discovery-left-section,
.discovery-right-section {
	display: flex;
	flex-direction: column;
}

.discovery-right-section {
	margin-right: 80px;
}

i {
	font-style: italic;
}

.discovery a img {
	height: 120px;
}

.discovery a {
	padding: 0;
	margin-right: 10px;
}

.book-recs {
	display: flex;
	flex-direction: row;
	margin-top: 15px;
}

.book-rec-and-source {
	margin-top: 15px;
}

.rec-arrow {
	align-self: center;
}

.homepage-search-section input {
	width: 300px;
	height: 20px;
	padding-left: 5px;
	font-size: 11px;
	font-family: Lato, 'Helvetica Neue', Helvetica, sans-serif;
	color: rgb(51, 51, 51);
	border-radius: 5px;
	border: 1pt solid rgb(153, 153, 153);
}

#search-a {
	position: absolute;
	top: 1030px;
	left: 463px;
}

#genre-list {
	margin-top: 15px;
	height: 180px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	overflow: hidden;
	margin-bottom: 30px;
}

#genre-list a,
.book-list-preview-left a,
#more-book-lists {
	padding: 0;
	height: 22px;
    color: rgb(0, 99, 93);
    text-decoration: none;
	font-size: 14px;
	line-height: 21px;
	font-family: Lato, 'Helvetica Neue', Helvetica, sans-serif;
}

#genre-list a:hover,
.book-list-preview-left a:hover, #more-book-lists:hover {
	text-decoration: underline;
}

#homepage-bottom-section-right {
	padding-top: 20px;
	padding-left: 20px;
}

#love-lists {
	display: block;
	margin-bottom: 10px;
	font-size: 18px;
	font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.book-list-preview-left span {
	color: rgb(153, 153, 153);
	font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 11px;
}

.book-list-preview {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 50px;
	border-bottom: 1px solid rgb(235, 236, 231);
}

.book-list-preview-left a {
	height: auto;
	line-height: 18px;
}

.book-list-preview-left {
	display: flex;
	flex-direction: column;
}

.book-list-preview-right {
	display: flex;
	flex-direction: row;
}

.book-list-preview-right a {
	padding: 0;
	margin-left: 5px;
	line-height: 40px;
}

.book-list-preview-right a img {
	height: 40px;
}

#more-book-lists {
	margin-top: 15px;
}
