@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

.sign-in-up-page {
	background: url('https://www.goodreads.com/assets/layout/tan-bg-texture.jpg');
	background-repeat: repeat;
	height: 100%;
}

.sign-in-up-page a {
	width: auto;
	height: auto;
}

.sign-in-up-page a:hover {
	background-color: transparent;
}

.sign-in-up-page-home-link img {
	position: absolute;
	width: 140px;
	left: 10px;
	margin-top: 23px;
}

.sign-in-up-page-main-card {
	position: absolute;
	background-color: white;
	width: 50%;
	margin-left: 25%;
	margin-bottom: 20px;
	top: 15px;
	border-radius: 4px;
	border: 1px solid rgb(208, 208, 200);
	box-shadow: 0px 1px 1px 0px rgb(208, 208, 200);
}

.sign-in-up-page-main-card-top {
	text-align: center;
}

.sign-in-up-page-main-card-top h1 {
	color: rgb(56, 33, 16);
	font-size: 20px;
	font-weight: 700;
	font-family: 'Merriweather', Georgia, 'Times New Roman', serif;
	margin-top: 25px;
}

.sign-in-up-page-main-card-top > button {
	line-height: 16px;
	text-align: center;
	margin-left: calc(50% - 149px);
	margin-top: 15px;
	width: 298px;
	height: 44px;
	padding: 8px 12px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	border: 1px solid rgb(78, 105, 162);
	border-radius: 3px;
	background-color: rgb(59, 89, 152);
	color: white;
	font-family: Lato, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
}

.sign-in-up-page-main-card-top > button:hover {
	background-color: rgb(78, 105, 162);
}

.sign-in-up-page .facebook-icon {
	display: inline-block;
	width: 21px;
	height: 21px;
	background: url('https://www.goodreads.com/assets/gr/icons/icon_facebook.svg');
}

.continue-with-facebook-label {
	display: inline-block;
	margin-left: 7px;
	margin-top: auto;
}

.sign-in-up-page-main-card-top .smaller-buttons {
	display: flex;
	margin-top: 15px;
	flex-direction: row;
	justify-content: center;
	font-size: 12px;
	line-height: 14px;
	font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.sign-in-up-page-main-card-top .smaller-buttons button {
	color: rgb(102, 102, 102);
	height: auto;
}

.sign-in-up-page-main-card-top .smaller-buttons button:hover {
	color: rgb(102, 102, 102);
	background-color: transparent;
	text-decoration: underline;
}

.smaller-buttons #sign-in-with-twitter {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAARCAMAAADwppwCAAAABGdBTUEAALGPC%2FxhBQAAAAFzUkdCAK7OHOkAAACZUExURf%2F%2F%2FxaZ1vr9%2FfX6%2FK%2Fk%2Bvv9%2FlPF9Bqt8f7%2B%2Fhmn6o%2FZ%2BRil5rDX51is0JzN4hec2vf7%2FaHf%2BRmq7Siz8ROJv%2Fr9%2Ftjx%2Fc3m8bjg8T2t3Cat5yaSwkGexaLc9aLe%2BBih4pjQ6FmrzXK31OTy9xKGvPP5%2FO32%2Buz2%2Bj%2Bfx%2Fn8%2Ff3%2B%2Fla34L7e7CePvMvt%2FBWW0rjg8HzS9zyv4Q4G1owAAACUSURBVBjTY2CgLuCAUjxKfEwMDExwcWZesAwHL6M8vzSPojJcQp1bgxlIiXOzs7MLMUopwCU02TlFgGZIsIOBHMIKNUF2dn4VGUmIBJLdqowgAU5OsDgbsqsE2RFAFllCgEUYLiGALKGlLQQT50Lzoh4XRJyNFVWc2cAIm7iOrog%2ByEnCLGjqGUTFWAy5WMREiQpYAAyNCBM93g98AAAAAElFTkSuQmCC');
	background-position: left;
	background-repeat: no-repeat;
	padding-left: 20px;
}

.smaller-buttons #sign-in-with-google {
	background: url('data:image/gif;base64,R0lGODlhEAAQANUAAIqKiri4uM%2FPz6Wlpe3t7Z2dncLCwq%2Bvr5mZmdnZ2cnJyfj4%2BJCQkKmpqeHh4bOzs7u7u6GhodXV1f%2F%2F%2F%2FHx8b29vd%2Ff36urq5WVlejo6LW1tczMzKOjo8XFxfv7%2B9HR0eXl5aenp7GxsfPz862trdfX1%2B%2Fv75OTk4uLi5%2Bfn7%2B%2Fv5mZmfn5%2Bdvb29PT0%2F%2F%2F%2FwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEHAC8ALAAAAAAQABAAAAaxwJfAQCwaiYLXprNpOp9NJqRTqUIGkUJhIKp2IAGIGNKQgAgEi2AceATeAYsjIDAZ4O2DZq%2BhSB59G3waByQPhw8jBFojCogPJA0HkwcKFCASEpSTDQMXnxcNKRILFRGgF1gNqwMYBgkLCwGrq1kDtwMUCZIZBLgDBQgRwwoewhEPHsPDCBhaBQYTEAAoEhbPBRgnCM8uExO6WVoIJwMMGAjp6usYDAMvEQDy8%2FTyES9BADs%3D');
	background-position: left;
	background-repeat: no-repeat;
	padding-left: 20px;
}

#or-span {
	text-align: center;
	font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	background-position-x: 340px;
	background-position-y: 7px;
	margin-right: 0;
	display: block;
	color: rgb(153, 153, 153);
	background-image: url('https://www.goodreads.com/assets/layout/divider_right.png');
	background-repeat: no-repeat;
}

#or-container {
	width: 640px;
	text-align: center;
	background-image: url('https://www.goodreads.com/assets/layout/divider_left.png');
	background-repeat: no-repeat;
	background-position-x: 170px;
	background-position-y: 7px;
	margin-bottom: 30px;
}

.sign-in-up-page-main-card-center {
	display: flex;
	flex-direction: column;
	margin-left: calc(50% - 150px);
}

.sign-in-up-page-main-card-center label {
	color: rgb(51, 51, 51);
	font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 2px;
}

.sign-in-up-page-main-card-center input[type='email'],
.sign-in-up-page-main-card-center input[type='password'] {
	width: 300px;
	padding: 10px 4px;
	color: rgb(51, 51, 51);
	font-size: 15px;
	font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	border: 1px solif rgb(204, 204, 204);
	border-radius: 3px;
	margin-bottom: 7px;
}

.sign-in-up-page-main-card-center input[type='email']:focus,
.sign-in-up-page-main-card-center input[type='password']:focus {
	background-color: rgb(249, 249, 249);
	box-shadow: rgba(185, 173, 153, 0.5) 0px 0px 4px 0px;
}

.sign-in-up-page-main-card-center ::placeholder {
	color: rgb(204, 204, 204);
}

.sign-in-up-page-main-card-center-bottom-buttons {
	margin-top: 30px;
	display: flex;
	flex-direction: row;
}

.sign-in-up-page-sign-in {
	background-color: rgb(244, 241, 234);
	color: rgb(51, 51, 51);
	border: 1px solid rgb(214, 208, 196);
	border-radius: 3px;
	padding: 12px 24px;
	line-height: 18px;
}

.sign-in-up-page-sign-in:hover {
	background-color: rgb(237, 230, 214);
}

.sign-in-up-page-forgot-password {
	color: rgb(0, 99, 93);
	font-size: 13px;
}

.sign-in-up-page-forgot-password:hover {
	text-decoration: underline;
}

.sign-in-up-page-main-card-bottom {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 25px 0px 40px 0px;
}

.sign-in-up-page-main-card-bottom span {
	font-size: 12px;
	font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: rgb(51, 51, 51);
}

.sign-in-up-page-main-card-bottom a {
	font-size: 12px;
	font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: rgb(0, 99, 93);
	line-height: 12px;
}

.sign-in-up-page-main-card-bottom a:hover {
	text-decoration: underline;
}

.sign-in-up-page-bottom-section {
	width: 100%;
	height: 58px;
	position: absolute;
	top: 100%;
	background-image: url('https://www.goodreads.com/assets/layout/bookrow.jpg');
}

#wrong-email-password-message {
	text-align: center;
	padding: 12px;
	background-color: rgb(253, 183, 173);
	border: 1px solid rgb(250, 96, 74);
	border-radius: 3px;
	width: 80%;
	margin-left: 10%;
	margin-bottom: 25px;
}

#wrong-email-password-message span {
	color: rgb(51, 51, 51);
	font-size: 12px;
	font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#wrong-email-password-message a {
	display: inline;
	padding: 0;
	font-size: 12px;
	font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: rgb(0, 99, 93);
	text-decoration: underline;
	line-height: 18px;
}

#wrong-email-password-message a:hover {
	text-decoration: none;
}
