@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

#top-bar {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 50px;
	background-color: rgb(244, 241, 234);
	box-shadow: 0px 0.5px 2px rgb(185, 185, 185);
}

#top-bar-right-section {
	display: flex;
	flex-direction: row;
	margin-left: 150px;
}

a,
button {
	cursor: pointer;
	background-color: transparent;
	border-style: none;
	font-size: inherit;
	text-decoration: none;
	display: block;
	height: 100%;
	line-height: 50px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 0;
	padding-bottom: 0;
	color: rgb(56, 33, 16);
	font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
	margin: 0px;
}

a:hover,
button:hover,
button.clicked {
	background-color: rgb(56, 33, 16);
	color: rgb(244, 241, 234);
}

#logo-link-container {
	margin-left: 45px;
	margin-right: 10px;
}

#logo-home-link {
	background: url(https://www.goodreads.com/assets/layout/header/goodreads_logo.svg);
	background-repeat: no-repeat;
	background-position: center;
	width: 140px;
	height: 50px;
	padding: 0px;
}

#friends-link {
	background: transparent
		url(https://s.gr-assets.com/assets/layout/header/icn_nav_friend.svg);
	background-repeat: no-repeat;
	background-position: center;
	padding-left: 22px;
	padding-right: 22px;
}

#notifications-button {
	background: transparent
		url(https://s.gr-assets.com/assets/layout/header/icn_nav_notifications.svg);
	background-repeat: no-repeat;
	background-position: center;
	padding-left: 22px;
	padding-right: 22px;
}

#friends-link:hover,
#notifications-button:hover {
	background-color: rgb(56, 33, 16);
}

#logo-home-link span {
	visibility: hidden;
}

#profile-button-container img {
	width: 30px;
	height: 30px;
	box-shadow: 0px 0px 2px rgb(185, 185, 185);
	border-radius: 50px;
	vertical-align: middle;
}

#profile-button-container button {
	padding-left: 10px;
	padding-right: 10px;
}

.hidden {
	visibility: hidden;
}

#browse-drop-down {
	display: flex;
	flex-direction: row;
	box-shadow: 0px 5px 10px rgb(199, 199, 199);
	width: 300px;
}

#browse-button-container {
	width: 110px;
}

#browse-drop-down ul,
#profile-drop-down-top-section ul,
#profile-drop-down-bottom-section ul {
	padding-left: 0px;
	margin-top: 0px;
}

#browse-drop-down li,
#profile-drop-down-top-section li,
#profile-drop-down-bottom-section li {
	padding-top: 0px;
	padding-bottom: 17px;
	padding-left: 15px;
	padding-right: 15px;
}

#browse-drop-down li a,
#profile-drop-down-top-section li a,
#profile-drop-down-bottom-section li a {
	color: rgb(51, 51, 51);
	font-size: 14px;
	display: inline;
	padding: 0px;
}

#browse-drop-down span,
#profile-drop-down-top-section span {
	color: rgb(56, 33, 16);
	font-size: 12px;
	font-weight: bold;
	font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
	padding-left: 15px;
	padding-bottom: 15px;
	display: block;
}

#browse-drop-down-left-section,
#profile-drop-down-top-section,
#profile-drop-down-bottom-section {
	background-color: white;
	padding-right: 10px;
}

#browse-drop-down-right-section {
	border-left: 1pt solid rgb(211, 211, 211);
	background-color: rgb(246, 246, 246);
	padding-top: 20px;
	padding-right: 15px;
}

#browse-drop-down-right-section ul {
	margin-bottom: 0px;
}

#browse-drop-down-right-section li {
	display: flex;
	align-items: center;
	padding-bottom: 20px;
}

#browse-drop-down-right-section li a {
	line-height: 15px;
	margin-top: 20px;
	color: black;
}

#browse-drop-down-right-section li:hover {
	background-color: rgb(237, 237, 237);
}

#browse-drop-down-right-section li a:hover {
	background-color: rgb(237, 237, 237);
}

#all-genres-a {
	color: rgb(51, 51, 51);
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 20px;
}

#browse-drop-down-left-section li a:hover,
#all-genres-a:hover,
#profile-drop-down-top-section li a:hover,
#profile-drop-down-bottom-section li a:hover {
	color: rgb(51, 51, 51);
	font-size: 14px;
	background-color: inherit;
	text-decoration: underline;
}

li {
	list-style-type: none;
	height: 15px;
	padding: 10px;
}

#profile-button-container {
	width: 35px;
}

#profile-drop-down {
	position: relative;
	padding: 20px 0px;
	right: 200px;
	width: 250px;
	box-shadow: 0px 5px 10px rgb(199, 199, 199);
}

#profile-drop-down-top-section span {
	color: rgb(51, 51, 51);
	font-size: 14px;
}

#profile-drop-down-top-section {
	border-bottom: 1px solid rgb(212, 212, 212);
}

#profile-drop-down-top-section {
	padding-bottom: 10px;
}

#profile-drop-down-bottom-section li {
	height: 35px;
	padding-top: 0px;
	padding-bottom: 0px;
}

#notifications-button-container {
	width: 50px;
}

#notifications-drop-down {
	background-color: white;
	position: relative;
	width: 330px;
	right: 285px;
	box-shadow: 0px 5px 10px rgb(199, 199, 199);
}

#notifications-drop-down-bottom-section {
	max-height: 380px;
	overflow: scroll;
}

#notifications-drop-down-top-section #notifications-a {
	color: rgb(56, 33, 16);
	font-size: 12px;
	font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: bold;
	height: 20px;
	line-height: 15px;
	padding: 0px;
}

#notifications-drop-down-top-section #notifications-a:hover,
#notifications-drop-down-top-section #view-all-notifications-a:hover {
	background-color: transparent;
}

#notifications-drop-down-top-section #view-all-notifications-a {
	color: rgb(0, 99, 93);
	font-size: 12px;
	font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
	height: 20px;
	line-height: 15px;
	padding: 0px;
}

#notifications-drop-down-top-section {
	width: 298px;
	padding: 8px 16px;
	border-bottom: 1px solid rgb(216, 216, 216);
}

.notification-card {
	width: 300px;
	border-bottom: 1px solid rgb(216, 216, 216);
	padding: 8px 15px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.notification-card-left-section {
	padding-right: 16px;
}

.notification-card-left-section img {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	border: 1px solid rgb(216, 216, 216);
}

.notification-card-right-section {
	font-size: 14px;
	color: rgb(51, 51, 51);
	font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 20px;
}

.notification-card-right-section strong {
	font-weight: bold;
}

.notification-card-right-section .date-distance-span {
	color: rgb(118, 118, 118);
	font-size: 12px;
}

#notifications-button.clicked {
	background-color: rgb(56, 33, 16);
	color: rgb(244, 241, 234);
}

.notification-card-right-section a {
	font-size: 14px;
	color: rgb(0, 99, 93);
	line-height: 20px;
	display: inline;
	padding: 0px;
}

.notification-card-right-section a:hover {
	background-color: white;
	text-decoration: underline;
}

#friends-link,
#notifications-button {
	position: relative;
}

#friends-link span,
#notifications-button span {
	background-color: #fa604a;
	color: white;
	font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 12px;
	padding: 3px;
	position: absolute;
	top: 4px;
	right: 4px;
	line-height: 1.15;
	border-radius: 3px;
}

#notifications-drop-down #loadingSpinner {
	position: relative;
	left: 150px;
	margin-top: 15px;
	margin-bottom: 15px;
	font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
}

#no-notifications-span {
	margin: 0px 115px;
	padding: 10px 0px;
	display: block;
	font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
	width: 100px;
}
