@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.change-password-page-main-content {
	margin: 0 155px;
	padding: 15px 0;
}

.change-password-page-main-content h1 {
	color: var(--goodreads-brown);
	font-family: var(--merriweather-font);
	font-size: 20px;
	font-weight: bold;
	line-height: 24px;
	margin-bottom: 50px;
}

.change-password-page-main-content label,
.change-password-page-main-content input {
	display: block;
}

.change-password-page-main-content label {
	color: rgb(24, 24, 24);
	font-weight: bold;
	font-family: var(--lato-font);
	font-size: 12px;
	line-height: 18px;
}

.change-password-page-main-content input[type='password'] {
	padding: 1px;
	width: 130px;
	height: 13px;
	border-radius: 3px;
	border: 1px solid rgb(220, 214, 204);
	color: rgb(51, 51, 51);
	font-family: var(--lato-font);
	font-size: 11px;
}

.change-password-page-main-content input[type='password']:focus {
	border-color: rgb(185, 173, 153);
	box-shadow: rgba(185, 173, 153, 0.5) 0px 0px 4px 0px;
}

.change-password-page-main-content .bottom-section {
	width: 150px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
	margin-bottom: 150px;
}

.change-password-page-main-content input[type='submit'] {
	padding: 1px 9px;
	width: 101px;
	height: 18px;
	border-radius: 3px;
	border: 1px solid rgb(214, 208, 196);
	background-color: rgb(244, 241, 234);
	color: rgb(51, 51, 51);
	font-family: var(--lato-font);
	font-size: 14px;
	line-height: 14px;
}

.change-password-page-main-content input[type='submit']:hover {
	background-color: rgb(237, 230, 214);
}

.change-password-page-main-content a {
	color: var(--goodreads-teal);
	display: inline;
	font-family: var(--lato-font);
	font-size: 12px;
	line-height: 18px;
	padding: 0;
	height: auto;
}

.change-password-page-main-content a:hover {
	background-color: transparent;
	text-decoration: underline;
}

.change-password-page-error-list {
	background-color: rgb(255, 204, 204);
	border: 2px solid rgb(255, 102, 102);
	border-radius: 5px;
	width: 75%;
	margin-bottom: 20px;
}

.change-password-page-error-list ul {
	padding: 10px;
	padding-left: 30px;
}

.change-password-page-error-list ul li {
	padding: 0;
	height: auto;
	list-style-type: square;
	display: list-item;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: rgb(0, 0, 0);
}

.change-password-page-error-list > span {
	display: block;
	background-color: rgb(255, 102, 102);
	padding: 10px;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: bold;
	color: rgb(255, 255, 255);
}
