#dashboard-updates {
	flex: 1.6;
	margin: 0 15px;
}

#dashboard-updates-top-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#customize-updates-button {
	color: rgb(118, 118, 118);
	font-size: 14px;
	font-family: Lato, 'Helvetica Neue', Helvetica, sans-serif;
	display: flex;
	align-items: center;
}

#customize-updates-button img {
	margin-right: 3px;
}

#customize-updates-button:hover {
	background-color: transparent;
}
