@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

#dashboard {
	display: flex;
	flex-direction: row;
	padding-top: 15px;
	padding: 15px 40px 0 40px;
	background-color: rgba(244, 241, 234, 0.5);
}

#dashboard a {
	display: inline-block;
}

#dashboard a,
#dashboard button {
	line-height: 20px;
}

#dashboard span {
	height: auto;
}

#dashboard a,
#dashboard button {
	padding: 0;
	height: auto;
}

#dashboard a {
	width: auto;
}

#dashboard a:hover {
	background-color: transparent;
}

#dashboard-shelf {
	flex: 1;
}

#dashboard-right-section {
	flex: 1;
}

#dashboard h2 {
	color: rgb(51, 51, 51);
	font-family: Lato, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}

#dashboard-shelf-currently-reading,
#dashboard-shelf-want-to-read {
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid gainsboro;
}

#dashboard-shelf-currently-reading-h2 {
	margin-bottom: 15px;
}

.dashboard-shelf-reading-book-card {
	display: flex;
	flex-direction: row;
	margin-bottom: 15px;
}

.dashboard-shelf-book-title-a {
	display: inline-block;
	color: rgb(51, 51, 51);
	font-family: 'Merriweather', Georgia, serif;
	font-size: 14px;
	font-weight: bold;
	max-height: 20px;
	max-width: 170px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.dashboard-shelf-reading-book-card-cover-a {
	width: 95px !important;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dashboard-shelf-reading-book-card-cover-a img {
	max-width: 100%;
	max-height: 100%;
}

.dashboard-shelf-reading-book-card-details {
	display: flex;
	flex-direction: column;
	padding-left: 10px;
}

.dashboard-shelf-book-title-a:hover,
.dashboard-shelf-reading-book-card-details span a:hover {
	color: rgb(51, 51, 51);
	text-decoration: underline;
}

.dashboard-shelf-reading-book-card-details span,
.dashboard-shelf-reading-book-card-details span a {
	color: rgb(51, 51, 51);
	font-family: 'Merriweather', Georgia, serif;
	font-size: 12px;
	line-height: 12px;
}

.dashboard-update-progress {
	background-color: transparent;
	color: rgb(56, 33, 16);
	border: 1px solid rgb(56, 33, 16);
	font-family: Lato, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 11px;
	width: 105.25px;
	padding: 4px 12px;
	border-radius: 3px;
}

.dashboard-update-progress:hover {
	background-color: rgb(56, 33, 16);
	color: white;
}

#dashboard-shelf-currently-reading-bottom {
	display: flex;
	flex-direction: line;
	align-items: center;
}

#dashboard-shelf-currently-reading-bottom span {
	padding: 0 5px;
}

#dashboard-shelf-currently-reading-bottom a,
#dashboard-shelf-currently-reading-bottom button,
#view-all-to-read,
#dashboard-shelf-bookshelves-bottom a {
	color: rgb(0, 99, 93);
	font-family: Lato, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
}

#dashboard-shelf-currently-reading-bottom a:hover,
#dashboard-shelf-currently-reading-bottom button:hover,
#view-all-to-read:hover,
#dashboard-shelf-bookshelves-bottom a:hover {
	background-color: transparent;
	text-decoration: underline;
}

#dashboard-shelf-want-to-read {
	display: flex;
	flex-direction: column;
}

.dashboard-shelf-want-to-read-book {
	height: 96px !important;
	width: 96px !important;
	overflow: hidden;
	display: flex;
	margin-right: 4px;
	margin-top: 8px;
}

#dashboard-shelf-want-to-read-h2 {
	margin-bottom: 10px;
}

#view-all-to-read {
	margin-top: 10px;
}

#bookshelves-h2 {
	margin-bottom: 15px;
}

#dashboard-shelf-bookshelves-bottom {
	display: flex;
	flex-direction: row;
	margin-bottom: 150px;
}

#dashboard-shelf-bookshelves-numbers,
#dashboard-shelf-bookshelves-titles {
	display: flex;
	flex-direction: column;
}

#dashboard-shelf-bookshelves-numbers {
	align-items: flex-end;
	margin-right: 10px;
}

#dashboard .connect-h2 {
	margin-bottom: 10px;
}

#dashboard .social-media-links {
	margin-bottom: 30px;
}

#dashboard .bottom-section .bottom-section-links {
	margin-bottom: 20px;
}

.author-badge {
	display: inline-block;
	background-image: url('https://www.goodreads.com/assets/layout/gr_author_badge.svg');
	width: 14px;
	height: 14px !important;
	background-repeat: no-repeat;
	background-position: bottom;
}

.author-badge-wrapper {
	width: 20px;
	height: 20px !important;
}
